<h1 class="page_title session__title">Et porro sit est laudantium porro quaerat.</h1>
    {% include "@components/session/_session.twig" with {
      'date': session.date|date('d') ~ '.' ~ session.date|date('l'),
      'time': session.date|date("g:i a"),
      'room': session.room,
      'topics': session.topics,
      'title': session.title,
      'description': session.description
    }  only %}


      {% block speakers %}
      <h3 class="region__title">Speakers</h3>
      <div class="session__speakers">
        {% include "@components/speaker/speaker.twig" with {
          'speaker': session.speaker,
          'company': session.company,
          'jobTitle': session.jobTitle,
          'photo': session.photo,
          'bio': session.bio,
          'link': session.link
        } only %}

        {% include "@components/speaker/speaker.twig" with {
          'speaker': session.speaker,
          'company': session.company,
          'jobTitle': session.jobTitle,
          'photo': session.photo,
          'bio': session.bio,
          'link': session.link
        } only %}


      {% include "@components/speaker/speaker.twig" with {
          'speaker': session.speaker,
          'company': session.company,
          'jobTitle': session.jobTitle,
          'photo': session.photo,
          'bio': session.bio,
          'link': session.link
        } only %}

      </div>
      {% endblock %}
