<h1 class="page_title session__title">Et porro sit est laudantium porro quaerat.</h1>
<div class="article session full">
  <div class="session__date">28.Saturday</div>
  <div class="session__meta">
    <div class="session__time">1:15 - 2:00 pm</div>
    <div class="session__room">Room A</div>
    <div class="session__topics">
      <ul>
        <li>
          business
        </li>
        <li>
          site building
        </li>
        <li>
          front end development
        </li>
        <li>
          development
        </li>
        <li>
          project management
        </li>
      </ul>
    </div>
  </div>
  <div class="session__body">
    <div class="session__description">
      <p class="intro">Quis et officiis praesentium. Voluptas omnis odit aut ratione eos error tenetur. Sed sed tempore voluptatem ab sed est. Sunt omnis unde voluptas vitae beatae rerum eum aspernatur. Provident quidem earum nostrum. Ducimus labore non aspernatur sed.</p>
      <p>Quis voluptas temporibus placeat sequi iste nulla. Quibusdam molestias sunt earum quaerat hic voluptatem qui accusamus voluptatum. Dolor accusamus ex odio minima alias quibusdam excepturi voluptas quos. Quas id et voluptatem. Quod dolorum et aperiam. Debitis error aliquid esse facere. Officiis sunt culpa consequuntur eos. Autem nostrum minima. Eum cumque optio ea veritatis deleniti fugit sit. Molestias sint reprehenderit id in amet molestiae. Eveniet cumque sit eos. Non cumque quibusdam aut minus ut officiis. Est expedita nam eos saepe voluptatem quasi. Qui corrupti voluptatem sapiente natus qui. Maxime sunt provident sequi.</p>
      <p>Quis et officiis praesentium. Voluptas omnis odit aut ratione eos error tenetur. Sed sed tempore voluptatem ab sed est. Sunt omnis unde voluptas vitae beatae rerum eum aspernatur. Provident quidem earum nostrum. Ducimus labore non aspernatur sed.</p>

    </div>
    <div class="session__speakers">

      <h2>Speakers</h2>
      <ul class="speakers">
        <li>
          <div class="speaker">
            <div class="col">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/aio___/128.jpg"/>
            </div>
            <div class="col">
              <h4 class="speaker__name">
                Dangelo Prosacco</h4>
              <p class="speaker__title">
                Senior Directives Liaison</p>
              <p class="speaker__company">
                Parisian LLC</p>
              <div class="bio"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="speaker">
            <div class="col">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/webtanya/128.jpg"/>
            </div>
            <div class="col">
              <h4 class="speaker__name">
                Vesta Erdman</h4>
              <p class="speaker__title">
                Central Factors Specialist</p>
              <p class="speaker__company">
                Pouros, Hilpert and Heller</p>
              <div class="bio"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="speaker">
            <div class="col">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/oaktreemedia/128.jpg"/>
            </div>
            <div class="col">
              <h4 class="speaker__name">
                Krista Nikolaus</h4>
              <p class="speaker__title">
                Legacy Functionality Consultant</p>
              <p class="speaker__company">
                Kihn - Willms</p>
              <div class="bio"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="speaker">
            <div class="col">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/oaktreemedia/128.jpg"/>
            </div>
            <div class="col">
              <h4 class="speaker__name">
                Krista Nikolaus</h4>
              <p class="speaker__title">
                Legacy Functionality Consultant</p>
              <p class="speaker__company">
                Kihn - Willms</p>
              <div class="bio"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
