<div data-drupal-selector="edit-field-additional-authors" class="js-form-item form-item">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'table' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/dataset/table.html.twig' -->
<div class="tabledrag-toggle-weight-wrapper"><button type="button" class="link tabledrag-toggle-weight">Show row weights</button></div><div class="tableresponsive-toggle-columns"><button type="button" class="link tableresponsive-toggle" title="Show table cells that were hidden to make the table fit within a small screen." style="display: none;">Hide lower priority columns</button></div><table id="field-additional-authors-values" class="field-multiple-table responsive-enabled" data-striping="1">


      <thead>
      <tr>
                  <th colspan="2" class="field-label"><h4 class="label">Additional authors</h4></th>
                  <th class="tabledrag-hide" style="display: none;">Order</th>
              </tr>
    </thead>

      <tbody>
              <tr class="draggable">
                      <td class="field-multiple-drag"><a href="#" class="tabledrag-handle" title="Drag to re-order"><div class="handle">&nbsp;</div></a></td>
                      <td>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form_element' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->
<div class="js-form-item form-item js-form-type-entity-autocomplete form-item-field-additional-authors-0-target-id js-form-item-field-additional-authors-0-target-id form-no-label">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form_element_label' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->
<label for="edit-field-additional-authors-0-target-id" class="visually-hidden">Additional authors (value 1)</label>
<!-- END OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->




<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__textfield' -->
<!-- FILE NAME SUGGESTIONS:
   * input--textfield.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
<input data-drupal-selector="edit-field-additional-authors-0-target-id" class="form-autocomplete form-text ui-autocomplete-input" data-autocomplete-path="/entity_reference_autocomplete/user/default%3Auser/5RO-Mlkwgvuek9r8GA4yqFkU4j99gL91KbfHZPop88s" type="text" id="edit-field-additional-authors-0-target-id" name="field_additional_authors[0][target_id]" value="" size="60" maxlength="1024" placeholder="" autocomplete="off">

<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


        </div>

<!-- END OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->

</td>
                      <td class="delta-order tabledrag-hide" style="display: none;">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form_element' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->
<div class="js-form-item form-item js-form-type-select form-item-field-additional-authors-0--weight js-form-item-field-additional-authors-0--weight form-no-label">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form_element_label' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->
<label for="edit-field-additional-authors-0-weight" class="visually-hidden">Weight for row 1</label>
<!-- END OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->




<!-- THEME DEBUG -->
<!-- THEME HOOK: 'select' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/select.html.twig' -->
<select data-drupal-selector="edit-field-additional-authors-0-weight" class="field_additional_authors-delta-order form-select" id="edit-field-additional-authors-0-weight" name="field_additional_authors[0][_weight]"><option value="0" selected="selected">0</option></select>
<!-- END OUTPUT from 'core/themes/stable/templates/form/select.html.twig' -->


        </div>

<!-- END OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->

</td>
                  </tr>
          </tbody>
    </table>

<!-- END OUTPUT from 'core/themes/stable/templates/dataset/table.html.twig' -->


              <div class="clearfix">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__submit' -->
<!-- FILE NAME SUGGESTIONS:
   * input--submit.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
<input class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="edit-field-additional-authors-add-more" formnovalidate="formnovalidate" type="submit" id="edit-field-additional-authors-add-more" name="field_additional_authors_add_more" value="Add another item">

<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

</div>
      </div>
