/* No files to import found in variables/**\/* */
/* @file
 * Custom sass mixins
 *
 * Define the custom mixins for your project here.
 * http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin
 */
/* No files to import found in variables/**\/* */
/**
 * functions
 */
/**
 * Respond to mixin for use with susy grids and breakpoint
 */
/**
 * Utility Mixins
 */
/*******************************************************************************
 * cpd-main.layout.scss
 *
 * Styling of the "Carpe Diem - Main Layout" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.l-menu,
.l-region--header {
  width: 100%;
  float: left;
  margin-right: 1.16732%;
  display: inline;
}

.l-header {
  padding-top: 20px;
}

.l-navigation,
.l-header,
.l-main,
.l-footer {
  *zoom: 1;
  max-width: 83.6em;
  _width: 83.6em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  position: relative;
}
.l-navigation:after,
.l-header:after,
.l-main:after,
.l-footer:after {
  content: "";
  display: table;
  clear: both;
}

.l-navigation {
  padding-bottom: 0;
}
@media screen and (max-width: 56.249em) {
  .l-navigation {
    padding-left: 0;
    padding-right: 0;
  }
}

.l-preface,
.l-content,
.l-sidebar-first,
.l-sidebar-second,
.l-postscript {
  width: 100%;
  float: left;
  margin-right: 1.16732%;
  display: inline;
  margin-right: 0;
}

.l-footer {
  padding-top: 20px;
}

@media screen and (min-width: 56.25em) {
  .l-branding {
    width: 36.77043%;
    float: left;
    margin-right: 1.16732%;
    display: inline;
  }

  .l-menu {
    width: 62.06226%;
    float: left;
    margin-right: 1.16732%;
    display: inline;
    float: right;
    margin-right: 0;
    *margin-left: -1.2em;
    display: inline;
  }

  /* Content Area */
  .l-content {
    width: 100%;
    float: left;
    margin-right: 1.16732%;
    display: inline;
  }

  /* Sidebars */
  .has-one-sidebar .l-content {
    width: 74.70817%;
    float: left;
    margin-right: 1.16732%;
    display: inline;
  }
  .has-one-sidebar .l-sidebar-first {
    width: 24.12451%;
    float: left;
    margin-right: 1.16732%;
    display: inline;
  }
  .has-one-sidebar .l-sidebar-second {
    width: 24.12451%;
    float: left;
    margin-right: 1.16732%;
    display: inline;
    float: right;
    margin-right: 0;
    *margin-left: -1.2em;
    display: inline;
  }
  .has-one-sidebar.has-sidebar-first .l-content {
    float: right;
    margin-right: 0;
    *margin-left: -1.2em;
    display: inline;
  }

  .has-two-sidebars .l-sidebar-first {
    width: 24.12451%;
    float: left;
    margin-right: 1.16732%;
    display: inline;
  }
  .has-two-sidebars .l-content {
    width: 49.41634%;
    float: left;
    margin-right: 1.16732%;
    display: inline;
  }
  .has-two-sidebars .l-sidebar-second {
    width: 24.12451%;
    float: left;
    margin-right: 1.16732%;
    display: inline;
    float: right;
    margin-right: 0;
    *margin-left: -1.2em;
    display: inline;
  }

  .l-sidebar-first,
  .l-sidebar-second {
    margin-top: 3em;
  }
}
.l-region--help,
.l-sidebar-first,
.l-sidebar-second {
  margin-bottom: 20px;
}
