<ul class="flat-list">
		<li><a class="icon drupal dark" href="http://www.drupal.org">Drupal</a></li>
		<li><a class="icon twitter" href="http://www.facebook.com">Tweeter</a></li>
		<li><a class="icon linkedin" href="{{ url }}">LinkedIn</a></li>
    <li><a class="icon facebook" href="">Facebook</a></li>
    <li><a class="icon youtube" href="">Youtube</a></li>
	</ul>
