body {
  font-family: 'sans';
}

h1 {
  color: #111;
  font-size: 2.5rem;
  margin: 2rem 0 0;
}

h2 {
  color: #222;
  font-size: 2rem;
  margin: 1.5rem 0 0;
}

h3 {
  color: #333;
  font-size: 1.5rem;
  margin: 1rem 0 0;
}

h4 {
  color: #444;
  font-size: 1.25rem;
  margin: .5rem 0 0;
}

.dialog-off-canvas-main-canvas a,
.dialog-off-canvas-main-canvas a:hover,
.dialog-off-canvas-main-canvas a:focus,
.dialog-off-canvas-main-canvas a:active,
.dialog-off-canvas-main-canvas a:visited {
  color: #1963a3;
  text-decoration: none;
}

