// Breakpoints
$small:     420px;
$mid-small: 600px;
$medium:    770px;
$mid-large: 900px;
$large:     1280px;
$full:      1350px;

// Brand Colors
$primary-color:     #1963a3;
$dk-primary-color:  #0c305b;
$secondary-color:   #00874b;

// Session Colors
$blue:    #0077C0;
$purple:  #9013FE;
$yellow:  #F5A623;
$red:     #F95E56;
$teal:    #00BF90;