<div class="region region-secondary-menu">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   * block--seattle2020-useraccountmenu.html.twig
   * block--system-menu-block--account.html.twig
   x block--system-menu-block.html.twig
   * block--system.html.twig
   * block.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/pnwds_2020/templates/block--system-menu-block.html.twig' -->
<nav role="navigation" aria-labelledby="block-seattle2020-useraccountmenu-menu" id="block-seattle2020-useraccountmenu" class="contextual-region settings-tray-editable" data-drupal-settingstray="editable">

  <h2 class="visually-hidden" id="block-seattle2020-useraccountmenu-menu">User account menu</h2>
  <div data-contextual-id="block:block=seattle2020_useraccountmenu:has_overrides=0&amp;langcode=en|menu:menu=account:langcode=en|settings_tray::langcode=en" data-contextual-token="BBsGj2eicKdOyYYEbleoCleZA_TDbrKSz34GaPyCtKM" class="contextual"><button class="trigger visually-hidden focusable" type="button" aria-pressed="false">Open User account menu configuration options</button>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'links__contextual' -->
<!-- FILE NAME SUGGESTIONS:
   * links--contextual.html.twig
   x links.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/navigation/links.html.twig' -->
<ul class="contextual-links" hidden=""><li class="settings-trayblock-configure"><a href="/admin/structure/block/manage/seattle2020_useraccountmenu/settings-tray?destination=/node/5" class="use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-settings-tray-edit="">Quick edit</a></li><li class="block-configure"><a href="/admin/structure/block/manage/seattle2020_useraccountmenu?destination=/node/5">Configure block</a></li><li class="entitymenuedit-form"><a href="/admin/structure/menu/manage/account?destination=/node/5">Edit menu</a></li></ul>
<!-- END OUTPUT from 'core/themes/stable/templates/navigation/links.html.twig' -->

</div>



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'menu__account' -->
<!-- FILE NAME SUGGESTIONS:
   * menu--account.html.twig
   * menu--account.html.twig
   x menu.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/pnwds_2020/templates/menu.html.twig' -->

              <ul class="menu">
              <li>
        <a href="/user" data-drupal-link-system-path="user">admin</a>
              </li>
          <li>
        <a href="/user/1/sessions" data-drupal-link-system-path="user/1/sessions">My sessions</a>
              </li>
          <li>
        <a href="/user/logout" data-drupal-link-system-path="user/logout">Log out</a>
              </li>
        </ul>



<!-- END OUTPUT from 'themes/pnwds_2020/templates/menu.html.twig' -->


  </nav>

<!-- END OUTPUT from 'themes/pnwds_2020/templates/block--system-menu-block.html.twig' -->


  </div>
