<div class="region region-primary-menu">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   * block--seattle2020-mainnavigation.html.twig
   * block--system-menu-block--main.html.twig
   x block--system-menu-block.html.twig
   * block--system.html.twig
   * block.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/pnwds_2020/templates/block--system-menu-block.html.twig' -->
<nav role="navigation" aria-labelledby="block-seattle2020-mainnavigation-menu" id="block-seattle2020-mainnavigation" class="contextual-region settings-tray-editable" data-drupal-settingstray="editable">


              <ul class="menu">
              <li>
        <a href="/" data-drupal-link-system-path="<front>">Home</a>
              </li>
          <li>
        <a href="/schedule" data-drupal-link-system-path="schedule">Schedule</a>
              </li>
        </ul>



<!-- END OUTPUT from 'themes/pnwds_2020/templates/menu.html.twig' -->


  </nav>

<!-- END OUTPUT from 'themes/pnwds_2020/templates/block--system-menu-block.html.twig' -->



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   * block--seattle2020-submitasession-registered.html.twig
   * block--simple-block--submit-session-registered.html.twig
   * block--simple-block.html.twig
   * block--simple-block.html.twig
   x block.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/block/block.html.twig' -->
<div id="block-seattle2020-submitasession-registered" class="contextual-region settings-tray-editable" data-drupal-settingstray="editable">

      <div><a class="button" href="/node/add/session">Submit a session</a></div>

  </div>

<!-- END OUTPUT from 'core/themes/stable/templates/block/block.html.twig' -->


  </div>
