<div class="social-liinks">
	<ul class="social-links-list">
		<li><a href="{{ url }}">Drupal Profile page</a></li>
		<li><a href="{{ url }}">Tweet</a></li>
		<li><a href="{{ url }}">LinkIn</a></li>
	</ul>
</div>
