<div class="session">
  <div class="session__date">28.Sat</div>
  <div class="session__meta">
    <div class="session__time">1:15 - 2:00 pm</div>
    <div class="session__room">Room A</div>
    <div class="session__topics">
      <ul>
        <li>backend</li>
        <li>business</li>
        <li>development</li>
        <li>javascript</li>
      </ul>
    </div>
  </div>
  <h3 class="session__title">Et porro sit est laudantium porro quaerat.</h3>
  <div class="session__body">
    <div class="session__description">
      <p>Quis et officiis praesentium. Voluptas omnis odit aut ratione eos error tenetur. Sed sed tempore voluptatem ab sed est. Sunt omnis unde voluptas vitae beatae rerum eum aspernatur. Provident quidem earum nostrum. Ducimus labore non aspernatur sed.</p>
      <p>
        <a class="session__action" href="#">Detail</a>
      </p>
      <p></p>
    </div>
    <div class="session__speakers">
      {% include "@components/speaker/speaker.twig" %}
    </div>
  </div>
</div>
