<div class="region region-footer">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   * block--mainnavigation-2.html.twig
   * block--system-menu-block--main.html.twig
   x block--system-menu-block.html.twig
   * block--system.html.twig
   * block.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/pnwds_2020/templates/block--system-menu-block.html.twig' -->
<nav role="navigation" aria-labelledby="block-mainnavigation-2-menu" id="block-mainnavigation-2" class="contextual-region settings-tray-editable" data-drupal-settingstray="editable">



              <ul class="menu">
              <li>
        <a href="/" data-drupal-link-system-path="<front>">Home</a>
              </li>
          <li>
        <a href="/schedule" data-drupal-link-system-path="schedule">Schedule</a>
              </li>
        </ul>



<!-- END OUTPUT from 'themes/pnwds_2020/templates/menu.html.twig' -->


  </nav>

<!-- END OUTPUT from 'themes/pnwds_2020/templates/block--system-menu-block.html.twig' -->



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   * block--copyright.html.twig
   * block--simple-block--copyright.html.twig
   * block--simple-block.html.twig
   * block--simple-block.html.twig
   x block.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/block/block.html.twig' -->
<div id="block-copyright" class="contextual-region settings-tray-editable" data-drupal-settingstray="editable">


      <p>Drupal is a registered trademark of Dries Buytaert.</p>

  </div>

<!-- END OUTPUT from 'core/themes/stable/templates/block/block.html.twig' -->


  </div>
