//Temp Splash Setup
	.l-region--postscript, .w-navigation, .l-region--menu, .site--branding__name, .pane-cod-news-panel-pane-1, #page--title{
		display: none;
	}
	
	.seattle-hero{
		min-height: 400px;
		max-height: 800px;
		height: 70%;
		background: url(../images/backgrounds/seattle.jpg);
		background-size: auto 100%;
		background-position: right top;
		h1{
			color: $white;
			text-align: center;
			font-size: 24px;
			@include respond-to($medium){
				float: right;
				width: 60%;
				padding-right: 1em;
				font-size: 32px;
			}
			span{
				display: block;
				clear: both;
				&.title-bold{
					font-weight: bold;
				}
			}
		}
	}
	.field--name-body{
		text-align: center;
	}
