.l-branding {}

.site--branding {
  font-size: 0;
}

.site--branding__logo {
  display: block;
  text-align: center;
  vertical-align: bottom;
  
  @include respond-to($medium) {
    display: inline-block;
    text-align: left;
    max-width: 33%;
  }
}

.site--branding__logo-svg {
  width: 100%;
  height: 250px;
  
  @include respond-to($medium) {
    width: auto;
    height: 104px;
    vertical-align: bottom;
  }
}

h1.site--branding__name {
  font-family: $branding-heavy;
  font-size: 1.75rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1em;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  
  a {
    &:link,
    &:visited {
      color: $white;
      font-family: $branding-heavy;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    span {
      display: inline;
    }
    
    .word1,
    .word2 {
      font-family: $branding-light;
      font-size: 1.575rem;
      font-weight: 300;
    }
    
    .word2:after {
      content: "\A";
      white-space: pre;
    }
  }
  
  @include respond-to($medium) {
    display: inline-block;
    font-size: 1.45rem;
    text-align: left;
    vertical-align: bottom;
    /* margin-bottom: 1.25em; */
    max-width: 66%;
    
    a {
      .word1,
      .word2 {
        font-size: 1.3rem;
      }
    }
  }
  
  @include respond-to($large) {
    /* font-size: 1.25rem; */
    line-height: 1em;
    /* margin-bottom: 0.875em; */
  }
}

.site--branding__slogan {}

// NOT FRONT
@include respond-to($medium, max-width) {
  .not-front {
    .site--branding {
      margin-top: -64px;
      position: relative;
      z-index: 50;
    }
    .site--branding__logo {}
    
    .site--branding__logo-svg {
      width: auto;
      height: 120px;
    }
    
    h1.site--branding__name {
      font-size: 1.45rem;
      
      a {
        .word1,
        .word2 {
          font-size: 1.3rem;
        }
      }
    }
  }
}