.l-branding {}

.site--branding {
  font-size: 0;
}

.site--branding__logo {
  display: block;
  text-align: center;
  vertical-align: bottom;
  
  @include respond-to($medium) {
    display: inline-block;
    text-align: left;
    max-width: 33%;
  }
}

.site--branding__logo-svg {
  width: 100%;
  height: 250px;
  
  @include respond-to($medium) {
    width: auto;
    height: 104px;
    vertical-align: bottom;
  }
}

h1.site--branding__name {
  font-family: $branding;
  font-size: 1.875rem;
  line-height: 1em;
  text-align: center;
  
  a {
    &:link,
    &:visited {
      color: $white;
      font-family: $branding;
      font-weight: 700;
      text-transform: uppercase;
    }
    
    span {
      display: inline;
    }
    
    .word1,
    .word2 {
      font-size: 1.65rem;
      font-weight: 300;
    }
    
    .word2:after {
      content: "\A";
      white-space: pre;
    }
  }
  
  @include respond-to($medium) {
    display: inline-block;
    font-size: 1rem;
    line-height: 1em;
    text-align: left;
    vertical-align: bottom;
    margin-bottom: 1.25em;
    max-width: 66%;
  }
  
  @include respond-to($large) {
    font-size: 1.25rem;
    line-height: 1em;
    margin-left: 0.5em;
    margin-bottom: 0.875em;
  }
}
.site--branding__slogan {}