<div class="form-item">
  <input type="checkbox" id="session-tag-filter--{{ session_tag_id }}" tag="{{ session_tag_id }}">
  <label class="option" for="session-tag-filter--{{ session_tag_id }}">{{ session_tag_label }}</label>
</div>
