<div class="region region-primary-menu">
<nav role="navigation" id="block-seattle2020-mainnavigation" class="nav">
	<ul class="nav-list menu">
		<li><a href="{{ url }}">Home</a></li>
		<li><a href="{{ url }}">About</a></li>
		<li><a href="{{ url }}">Blog</a></li>
		<li><a href="{{ url }}">Contact</a></li>
	</ul>
</nav><!--end .nav-->
</div>
