<ul class="icons inline-list">
	<li class="icon twitter"></li>
	<li class="icon facebook"></li>
	<li class="icon tumbleupon"></li>
	<li class="icon linkedin"></li>
	<li class="icon pinterest"></li>
	<li class="icon google-plus"></li>
	<li class="icon youtube"></li>
	<li class="icon feed"></li>
	<li class="icon search"></li>
	<li class="icon play"></li>
  <li class="icon user"></li>
  <li class="icon clock"></li>
  <li class="icon tag"></li>
  <li class="icon drupal"></li>
  <li class="icon map-marker"></li>
</ul>
