<h2>Speakers</h2>
<ul class="speakers">
  {% for session in sessions %}
  <li>
    {% include "@components/speaker/speaker.twig" with {
      'speaker': session.speaker,
      'company': session.company,
      'jobTitle': session.jobTitle,
      'photo': session.photo,
      'bio': session.bio,
      'link': session.link
    } %}
    </li>
  {% endfor %}
</ul>
