<div class="banner video">
  <div class="video">
        <img src="../../images/seattle-background.jpg" id="videosubstitute" class="videosubstitute" alt=""/>

      <video
      preload="preload" poster="../../images/AdobeStock_153596091_Preview.jpeg" id="bgvid" class="bgvid" playsinline autoplay muted>
      <source src="../../images/bestof2017.mp4" type="video/mp4">
    </video>
<!--iframe width="560" height="315" src="https://www.youtube.com/embed/n8kuwLjfsu8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->

  </div>
  <div class="text-top">
    <h1><a href="{{ link.pages-homepage }}"><img src="../../images/logo.png" class="logo" alt="Logo Alt Text"/></a>
    <span>2020</span></h1>
  </div>
  <div class="text-bottom fade-in">
    <h2>March 28-29. Seattle WA</h2>
    <h3>10th Pacific Northwest Drupal Summit.</h3>
    <p>Share. Showcases. Subtext</p>
      <p><a class="button" href="https://opencollective.com/pnw-drupal-summit/events/pnw-drupal-summit-2020-20051ev">Get tickets</a></p>
  </div>
</div>
