<div class="banner image full">
  <div class="bg">
        <img src="../../images/AdobeStock_153596091.jpeg" alt=""/>
  </div>
  <div class="text-top">
    <h1><a href="{{ link.pages-homepage }}"><img src="../../images/logo.png" class="logo" alt="Logo Alt Text"/></a><span>2020</span></h1>
  </div>
  <div class="text-bottom fade-in">
    <h2>March 28-29. Seattle WA</h2>
    <h3>10th Pacific Northwest Drupal Summit.</h3>
    <p>Share. Showcases. Subtext</p>
  </div>
</div>
