<div class="banner text">
  <div class="row1">
    <div class="inner">
      <div class="text-top">
        <h1>
          <a href="{{ link.pages-homepage }}"><img src="../../images/logo.png" class="logo" alt="Logo Alt Text"/></a>
          <span>2020</span>
        </h1>
      </div>
      <div class="col skyline">
        <img src="../../images/skyline.svg"/>
      </div>
    </div>
  </div>

  <div class="row2">
    <div class="inner">
      <div class="text-bottom">
        <h2>March 28-29. Seattle WA</h2>
        <h3>10th Pacific Northwest Drupal Summit.</h3>
        <p>Share. Showcases. Subtext</p>
        <p><a class="button" href="https://opencollective.com/pnw-drupal-summit/events/pnw-drupal-summit-2020-20051ev">Get tickets</a></p>
      </div>
    </div>
  </div>
</div>
