// Import external libraries.
@import "compass";
@import "breakpoint";
@import "susy";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "abstractions/**/*";
@import "variables/**/*";
@import "base/**/*";
@import "components/**/*";


.pane-cod-schedule-menu-pane ul {
  list-style-type: none;
}

.pane-cod-schedule-menu-pane .menu .leaf {
  float: left;
  list-style-type: none;
  list-style-image: none;
}

.l-page .pane-cod-schedule-menu-pane li a:link {
  display: inline-block;
  background: #efefef;
  padding: 2px 10px;
}

.l-page .pane-cod-schedule-menu-pane li a.active:link {
  background: none;
  background: #ccc;
}

.view-cod-session-tracks li {
  float: left;
  width: 20%;
}

.views-view-grid td, .views-view-grid td:first-child {
  vertical-align: top;
  width: 25%;
  margin: 0;
  padding: 0;
}

.views-view-grid .views-field-name {
  font-weight: bold;
  background: #ccc;
}

.btn a:link, .btn a:visited, .btn a:hover, .btn a:active  {
  display: inline-block;
  background: #007740;
  color: #fff;
  padding: 2px 10px;
}

.views-field-field-speakers .views-label {
  float: left;
  margin-top: 2px;
}
