.w-navigation{
	background: none;
	.block--system-user-menu{
		position: absolute;
		top: 0px;
		right: 1.2em;
		background: $DarkBlue2015;
		border-radius: 20px;
		z-index: 999;
		@include respond-to($medium) {
      top: 30px;
    }
		li{
			border-right: 1px solid $white;
			
			@include respond-to($medium) {
				
	    }
			&.last{
				border-right: none;
			}
			a{
				margin: 0px;
				padding-left: 10px;
				padding-right: 10px; 
				&:link, &:visited{
					color: $white;
					background: $MediumBlue2015;
					@include respond-to($medium) {
			    }
				}
			}
		}
	}
}
.w-header{
	background: $white;
	.l-region--menu{
		padding-top: 60px;
		h2.block__title{
			display: none;
		}
		.block--superfish{
			@extend %clearfix;
			text-align: center;
			@include respond-to($medium) {
				text-align: left;
			}
		}
		.sf-menu{
			li{
				margin-right: 5%;
				&.last{
					margin-right: 0px;
				}
				&:hover > ul, &.sfHover > ul{
					top: 1.1em;
				}
				li{
					background: $DarkBlue2015;
					padding: 10px;
					a{
						&:link, &:visited{
							color: $white;
							text-decoration: none;
						}
						&:hover, &.active{
							color: $LightGreen2015;
							text-decoration: none;
						}
						
					}
				}
			}
		}
		a{
			&:link, &:visited{
				color: $MediumGreen2015;
				text-decoration: none;
			}
			&:hover{
				color: $DarkBlue2015;
				text-decoration: none;
			}
		}
	}
}