.l-sponsors-wrapper {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -4.25em;
  height: 4.25em;
  .block {
    position: relative;
    display: block;
    padding: 0 1em;
    margin: -3px auto 0 auto;
    &::before {
      content: ''; /* To generate the box */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $blue;
    }
    @include breakpoint($mid-small) {
      width: 460px;
      &::before {
        transform: perspective(10px) rotateX(1deg);
      }
    }
    h2 {
      color: $lt-blue;
      font-family: $base-font-family;
      font-size: 0.8em;
      letter-spacing: 4px;
      margin-top: 0.25em;
      margin-bottom: 0.75em;
      text-align: center;
      display: inline-block;
      position: relative;
      width: 100%;
      padding-top: 0.5em;
    }
    a {
      float: left;
      max-width: 44%;
      &:first-child {
        margin-right: 10%;
      }
    }
  }
  .block__content {
    padding: 0.1em 1em;
    overflow: auto;
    position: relative;
  }
}


/* Display sponsors' logos, with gold > silver > bronze, decreasing size. */

/* Note that these adjustments only affect the **width**. Each gets an appropriate amount of horizontal space on
   the screen. However, some logos are taller than others, and some are big and solid. The logos should be
   **manually shrunk** first and whitespace-padded on the sides if it is tall or extra-solid. Logos
   that are wide and sparse (such as for Affinity Bridge) should have *less* whitespace at their sides,
   to make them bigger. */

/* $gold-shrinkage : 1;   No shrinkage.. */
$silver-shrinkage: .667;  /* Note that by reducing it linearly by 2/3, you're really reducing the area to 4/9. */
$bronze-shrinkage: .444;  /* And here we shrink it by the same amount again (2/3 of 2/3). */

$one-wide-logo-width : 100%;  /* on narrow displays */
$two-wide-logo-width :  49%;  /* on medium-width displays */
$four-wide-logo-width : 24%;  /* on full monitors */

/* This is the default setup, with widths for 'gold' sponsors. */
.view-cod-sponsors {
  .views-row {
    float: left;
    margin-left: 1%;
    padding: 1em;
    width: $one-wide-logo-width;
    @include breakpoint($small $mid-small) {
      width: $two-wide-logo-width;
      &:nth-child(2n+1) {
        clear: left;
      }
    }
    @include breakpoint($mid-small) {
      width: $four-wide-logo-width;
      &:nth-child(4n+1) {
        clear: left;
      }
    }
  }
}

/* override the widths for 'silver'. */
#block-cod-sponsors-silver {
  .view-cod-sponsors {
    .views-row {
      width: $one-wide-logo-width * $silver-shrinkage;
      @include breakpoint($small $mid-small) {
        width: $two-wide-logo-width * $silver-shrinkage;
      }
      @include breakpoint($mid-small) {
        width: $four-wide-logo-width * $silver-shrinkage;
      }
    }
  }
}

/* override the widths for 'bronze'. */
#block-cod-sponsors-bronze {
  .view-cod-sponsors {
    .views-row {
      width: $one-wide-logo-width * $bronze-shrinkage;
      @include breakpoint($small $mid-small) {
        width: $two-wide-logo-width * $bronze-shrinkage;
      }
      @include breakpoint($mid-small) {
        width: $four-wide-logo-width * $bronze-shrinkage;
      }
    }
  }
}

.pane-cod-sponsors-sponsored {
  .views-row {
    float: left;
    margin-left: 0%;
    min-height: 0;
    padding: 1em;
    width: 100%;
  }
}
