#edit-back, #edit-cancel {
  @extend .button;
  background-color: transparent;
  border: 2px solid $secondary-color;
  color: $secondary-color;
  margin-left: 0.6em;
  padding: 10px 21px;
  &:hover, &:focus {
    background-color: $secondary-color;
    color: $white;
    text-decoration: none;
  }
}

.page-checkout {
  table.checkout-review {
    border: none;
    margin-top: 1em;
    tr:nth-child(2n) {
      background-color: $white;
    }
    table {
      border: none;
    }
  }
}

// Commerce style overrides
table.checkout-review .pane-data-full {
  padding-right: 0;
  padding-left: 0;
}
table.checkout-review .pane-title td {
  padding: 0;
  font-family: $alt-font-family;
}
