.l-header {
  @extend %constrained-width;
  padding-top: 20px;
  padding-bottom: 20px;
  @include pie-clearfix;
  // @TODO: Compass mixins not working for some reason -- LW
  display: -webkit-flex;
  display: flex;
  align-items: -webkit-center;
  align-items: center;

  .l-branding {
    display: inline-block;
    float: left;
    width: calc(100% - 120px);
    @include breakpoint($menu-full) {
      width: 255px;
    }
  }

  .l-header-content {
    display: inline-block;
    float: right;
    width: 100px;
    @include breakpoint($menu-full) {
      width: calc(100% - 275px);
    }
  }

}