.l-navigation {
  font-family: $alt-font-family;
  font-size: 1.3em;
  margin-bottom: 1em;
  text-transform: uppercase;

  .l-region--navigation {
    display: none;
    position: absolute;
    width: 100%;
    background-color: $primary-color;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .block--menu {
    position: static;
  }

  // Level 1
  .menu {
    text-align: right;
    padding: 20px 0;

    > li {
      list-style: none;
      padding: 10px 0;
      white-space: nowrap;

      &.menu-item--parent {
        > a {
          margin-right: 0;
        }
        > span {
          display: inline-block;
          width: 28px;
          height: 15px;
          margin-left: 20px;
          margin-right: 15px;
          background-image: url(../images/cascadia-icon-sprite.png);
          background-position: left -151px;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }

      &.menu-item--active {
        > span {
          background-position: left -201px;
        }

        > .menu {
          //display: block;
        }

      }
    }

    a {
      display: inline-block;
      color: #FFF;
      line-height: 1.6em;
      text-decoration: none;
      margin-right: 65px;
    }

  }

  // Level 2
  .menu > li > .menu {
    // @TODO: impliment toggle
    display: none;
    background-color: $dk-primary-color;
    margin-top: 8px;
    font-size: 0.85em;

    > li {
      margin-right: 0;
    }

  }

  @include breakpoint($menu-full) {
    position: relative;
    background-color: $primary-color;
    font-size: 1em;
    height: 65px;
    margin-bottom: 0;

    .l-region--navigation {
      // important used to override any inline JS hiding menu for smaller screens.
      display: block !important;
      position: static;
      margin: 0 auto;
      width: 94%;
      max-width: $large;
    }

    // Level 1
    .menu {
      padding: 0;
      text-align: left;

      > li {
        display: inline-block;
        float: left;
        //position: relative;

        &.menu-item--parent {
          > a {
            padding-right: 25px;
          }
          > span {
            display: inline-block;
            width: 22px;
            height: 15px;
            margin-right: 25px;
            margin-left: -25px;
            background-image: url(../images/cascadia-icon-sprite.png);
            background-position: 10px -248px;
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }

        &.menu-item--active {
          > span {
            background-position: 10px -299px;
          }

        }

        &:hover {
          padding-bottom: 8px;
          > a {
            border-bottom: solid 2px #FFF;
          }

        }

      }

      a {
        margin-right: 30px;
      }

    }

    // Level 2
    .menu > li > .menu {
      position: absolute;
      top: 64px;
      right: 0;
      left: 0;
      margin-top: 0;
      padding-right: 3%;
      padding-left: 3%;

      > li {
        &:hover {
          padding-bottom: 9px;
        }
      }

      a {
        border-width: 1px;
      }

    }

  }

  @include breakpoint(1360px) {
    // Level 2
    // Centre sub nav when exceeds max width of 1280px
    .menu > li > .menu {
      padding-left: calc((100% - 1280px) / 2);
    }
  }

}

.block--system-user-menu {
  .menu {
    a {
      color: #CCC;
    }
  }

  @include breakpoint($menu-full) {
    .menu {

      &:before {
        content: '/';
        float: left;
        display: inline-block;
        color: #CCC;
        margin-right: 25px;
        padding: 10px 0;
      }

      li {
        &:hover {
          a {
            border-color: #CCC;
          }
        }
      }

    }
  }
}

.menu__button-toggle {
  font-family: $alt-font-family;
  font-size: 0.95em;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  margin-top: 16px;
  &:after {
    content: "";
    display: inline-block;
    width: 28px;
    height: 22px;
    margin-left: 10px;
    background-image: url(../images/cascadia-icon-sprite.png);
    background-position: left -352px;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
  &.menu__button-toggle--active {
    &:after {
      background-position: left -402px;
    }
  }
  @include breakpoint($menu-full) {
    display: none;
  }
}

// .mean-container .mean-bar {
//   background: $gray 20px 11px no-repeat;
//   float: left;
//   min-height: 40px;
//   padding: 6px 0 0 0;
//   position: absolute;
//   width: 100%;
//   z-index: 999999;
// }
// .mean-container .mean-nav {
//   background: none repeat scroll 0 0 $white;
//   float: left;
//   margin-top: 40px;
//   width: 100%;
//   ul li {
//     a {
//       border-bottom: 1px solid $lt-gray;
//       color: $gray;
//       display: block;
//       float: left;
//       margin: 0;
//       padding: 1em 5%;
//       text-align: left;
//       text-decoration: none;
//       text-transform: none;
//       width: 90%;
//     }
//     a.mean-expand {
//       background: url(../images/expand.gif) transparent center center no-repeat;
//       &:hover {
//         background: url(../images/expand.gif) transparent center center no-repeat;
//       }
//       &.mean-clicked {
//         background: url(../images/collapse.gif) transparent center center no-repeat;
//       }
//     }
//     li {
//       background-color: $lt-gray;
//       &:first-child {
//         border-top: 1px solid darken($lt-gray,10%);
//       }
//       a {
//         border-bottom: 1px solid darken($lt-gray,10%);
//         padding: 1em 7%;
//         width: 86%;
//       }
//     }
//   }
// }
// .mean-nav > ul > li:last-child {
//   background-color: $blue;
//   a {
//     color: $white;
//     text-align: center;
//   }
// }
// .mean-container .l-region--preface .menu {
//   display: none;
// }

// .l-region--preface .menu {
//   padding-left: 0;
//   li {
//     background-color: $lt-gray;
//     display: inline;
//     font-size: 0.84em;
//     list-style-image: none;
//     list-style: none;
//     padding: 10px 12px;
//     &:hover {
//       background-color: $blue;
//       a:link, a:visited {
//         color: $white;
//       }
//     }
//     a {
//       text-decoration: none;
//       &:link, &:visited {
//         color: $gray;
//       }
//     }
//   }
// }

// .l-navigation {
//   background-color: $primary-color;
//   font-family: $alt-font-family;
//   font-size: 1.1em;
//   height: 2.45em;
//   margin-bottom: 1em;
//   text-transform: uppercase;
//   .l-region--navigation {
//     @extend %constrained-width;
//   }
//   a {
//     color: #FFF;
//   }
//   @include breakpoint($medium) {
//     .menu > li {
//       display: block;
//       float: left;
//       position: relative;
//       a {
//         display: block;
//         padding: 0.2em 0 1.4em 0;
//       }
//       &:hover {
//         a {
//           color: lighten($dk-blue,15%);
//         }
//         &.expanded > .menu-block > .menu, &.expanded > .menu-block > .menu:hover {
//           background-color: $dk-green;
//           display: block;
//           font-family: $base-font-family;
//           font-size: 1em;
//           position: absolute;
//           top: 3em;
//           z-index: 6;
//           &:before {
//             border: solid transparent;
//             border-bottom-color: $dk-green;
//             border-width: 12px;
//             bottom: 100%;
//             left: 20px;
//             content: " ";
//             height: 0;
//             width: 0;
//             position: absolute;
//             pointer-events: none;
//           }
//           li {
//             border-top: none;
//             padding: 0;
//             margin-right: 0;
//             width: 100%;
//             &:hover {
//               background-color: $dk-blue;
//             }
//           }
//           a {
//             color: $white;
//             display: block;
//             padding: 0.5em 1em;
//             width: 100%;
//           }
//         }
//       }
//       &.active-trail {
//         a {
//           color: $lt-blue;
//         }
//       }
//       &.first {
//         padding-left: 0;
//       }
//       &.last {
//         padding-right: 0;
//         margin-right: 0;
//       }
//     }
//     ul {
//       margin: 0;
//       padding: 0;
//     }
//   }
// }

// *[id^='block-menu-menu-']{
//   @include breakpoint($medium) {
//     float: left;
//     width: 66%;
//   }
// }

// #block-system-user-menu {
//   @include breakpoint($medium) {
//     float: right;
//     width: 34%;
//   }
// }



// .administrative {
//   ul {
//     @extend %constrained-width;
//   }
// }