.schedule-header {
  display: none;

  @media (min-width: $mid-large) {
    display: flex;
    float: right;
    width: calc(100% - 70px);
    border: solid 1px #CCC;
    border-bottom: none;

    li {
      flex: 1;
      width: 25%;
      border-right: solid 1px #CCC;
      padding: 15px;
      color: #888;
      font-family: $alt-font-family;
      font-size: 0.8em;
      font-weight: 300;
      text-transform: uppercase;

      strong {
        font-weight: bold;
        color: #000;
      }

      &:last-child {
        border-right: none;
      }

    }

  }

  @media (min-width: $large) {
    width: calc(100% - 170px);
  }

}

.schedule {
  clear: both;

  .schedule__timeslot {
    display: flex;
    margin-bottom: 20px;

    h3 {
      width: 70px;
      border: solid 1px #CCC;
      border-right: none;
      padding: 17px 15px 15px;
      margin-bottom: 0;
      color: #888;
      font-family: $alt-font-family;
      font-size: 0.8em;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;

      .date-display-start {
        font-weight: bold;
        color: #000;
      }

    }

    .schedule__timeslot-sessions {
      width: calc(100% - 70px);
    }

    .session--teaser {
      border-bottom: none;
      margin-bottom: 0;

      &:last-child {
        border-bottom: solid 1px #CCC;
      }

    }

  }

  @media (min-width: $mid-large) {

    .schedule__timeslot {
      margin-bottom: 0;

      &:last-child {
        border-bottom: solid 1px #CCC;
      }

      h3 {
        width: 70px;
        border-bottom: none;
        padding-top: 21px;
      }

      .schedule__timeslot-sessions {
        display: flex;
        width: calc(100% - 70px);

        li {
          flex: 1;
          width: 25%;
        }

      }

      .session--teaser {
        border: solid 1px #CCC;
        border-right: none;
        border-bottom: none !important;

        &:last-child {
          border-right: solid 1px #CCC;
        }

        .session__room {
          display: none;
        }

      }

    }

  }

  @media (min-width: $large) {

    .schedule__timeslot {

      h3 {
        width: 170px;
        text-align: left;
      }

      .schedule__timeslot-sessions {
        width: calc(100% - 170px);

      }

    }

  }

}

.pane-cod-schedule-menu-pane {
  padding-top: 1em;

  ul {
    overflow: hidden;
    border-bottom: solid 1px #CCC;
    margin-bottom: 1em;
    font-family: $alt-font-family;
    font-weight: 500;
    font-size: 0.9em;
    text-transform: uppercase;

    li {
      float: left;
      margin-right: 30px;
      margin-bottom: -1px;
      list-style-type: none !important;
      list-style-image: none !important;
    }

    a {
      display: block;
      background-color: transparent;
      border-bottom: 0px solid #CCC;
      padding: 5px 0;
      text-decoration: none;
      transition: border $base-duration $base-timing;

      &:hover, &:focus {
        border-width: 2px;
        background-color: transparent;
      }

      &.active {
        background-color: transparent;
        border-width: 3px;
        border-color: #000;
      }
    }
  }
}


// .page-node-schedule {
//   .title-region {
//     text-align: center;
//     .button-link {
//       margin-top: 1em;
//       &:hover, &.active {
//         //color: $dk-green;
//       }
//     }
//     .panel-pane {
//       clear: both;
//       padding: 0;
//     }
//   }
//   .pane-cod-schedule-menu-pane {
//     margin: 1em 0;
//     padding: 1em 2em;
//     text-align: center;
//     a {
//       margin: 0 0.1em;
//     }
//     ul {
//       font-weight: normal;
//       margin: 0;
//       padding: 0;
//       text-align: center;
//       li {
//         display: inline;
//         list-style-image: none;
//         list-style-type: none;
//       }
//     }
//   }
//   .pane-cod-session-tracks-schedule-session-tracks {
//     //@extend %constrained-width;
//     ul {
//       padding-left: 0;
//     }
//     li {
//       float: left;
//       list-style-type: none;
//       list-style-image: none;
//       margin: 0 1% 1% 0;
//       width: 100%;
//       a {
//         font-size: 1.25em;
//         line-height: 1;
//         text-align: center;
//       }
//     }
//   }
//   .view-cod-schedule-content > .view-content {
//     h3 {
//       background-color: transparent;
//       font-weight: normal;
//       text-align: center;
//     }
//     > .timeslot {
//       margin-bottom: 2em;
//       overflow: auto;
//       position: relative;
//       padding: 2em;
//     }
//     .timeslot-content {
//       width: 100%;
//     }
//     .gutter-size {
//       width: 2%;
//     }
//     .schedule-item, .session {
//       background-color: white;
//       border: 1px solid $gray;
//       margin-bottom: 2%;
//       padding: 1em;
//       text-align: center;
//       width: 100%;
//       clear: both;
//       float: left;
//       position: relative;
//     }
//     .session {
//       clear: none;
//       float: none;
//       overflow: auto;
//       padding: 1em 1em 5em 1em;
//       width: 100%;
//       @include breakpoint($medium) {
//         width: 49%
//       }
//       @include breakpoint($large) {
//         width: 31%
//       }
//     }
//     .views-row.session {
//       background-size: cover;
//       background-position: right 40px bottom;
//     }
//     .views-field-name, .views-field-field-speakers, .views-field-ops {
//       background-image: none;
//       clear: both;
//       float: none;
//       height: auto;
//       line-height: 1.25;
//       padding: 0;
//     }
//     .views-field-title {
//       line-height: 1.25;
//       // a {
//       //   color: $dk-blue;
//       // }
//     }
//     .views-field-ops {
//       margin: 1em 0 0 0;
//       // a {
//       //   color: $gray-blue;
//       // }
//     }
//   }
// }

// .view-cod-session-sessions {
//   table {
//     max-width: none;
//     width: 100%;
//   }
// }
