.pane--front-cta {

  .pane-title {
    margin-bottom: 25px;
    padding-left: 72px;
    font-size: 1.8em;
    line-height: 1.3em;
    text-transform: uppercase;
    text-indent: -72px;

    &:before {
      content: '';
      display: inline-block;
      width: 52px;
      height: 48px;
      background-image: url('../images/cascadia-icon-sprite.png');
      background-position: left -500px;
      background-repeat: no-repeat;
      margin-right: 20px;
      margin-top: -4px;
      vertical-align: middle;
    }

  }

}