.l-page .l-footer-wrapper {
  background: url(../images/bg-footer.jpg) $blue no-repeat center top / auto 100%;
  padding-top: 200px;
  min-height: 600px;
  @include breakpoint(1750px) {
    background-size: cover;
    padding-top: 10%;
  }
}
.l-region--footer {
  .block {
    > ul > li {
      &.last {
        li {
          a[href*="facebook"] {
            background: url("../images/social/facebook.png") transparent center center no-repeat;
            &:hover {
              opacity: 0.7;
            }
          }
          a[href*="flickr"] {
            background: url("../images/social/flickr.png") transparent center center no-repeat;
            &:hover {
              opacity: 0.7;
            }
          }
          a[href*="twitter"] {
            background: url("../images/social/twitter.png") transparent center center no-repeat;
            &:hover {
              opacity: 0.7;
            }
          }
          a[href*="subscribe"] {
            background: url("../images/social/newsletter.png") transparent center center no-repeat;
            &:hover {
              opacity: 0.7;
            }
          }
          a[href*="rss"] {
            background: url("../images/social/rss.png") transparent center center no-repeat;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
