.page-node-schedule {
  .pane-cod-schedule-menu-pane {
    margin: 2em 0px 0 0;
    a {
      background-color: $white;
      border: 1px solid $blue;
      @include border-radius(32px);
      color: $blue;
      display: block;
      margin: 0 0.5em;
      padding: 0.5em 0.8em;
      text-decoration: none;
      width: 100%;
      @include breakpoint($medium) {
        display: inline;
      }
      &.active {
        background-color: $blue;
        color: $white;
      }
      &:hover, &:focus {
        background-color: $dk-blue;
        border: 1px solid $dk-blue;
        color: $white;
      }
    }
  }
  .pane-cod-session-tracks-schedule-session-tracks {
    ul {
      padding-left: 0;
    }
    @include add-tracks('a');
    li {
      display: inline-table;
      list-style-type: none;
      list-style-image: none;
      margin: 0 1% 1% 0;
      width: 100%;
      @include breakpoint($mid-small $medium) {
        width: 32%;
        &:nth-child(3n+1) {
          clear: left;
        }
      }
      @include breakpoint($medium $large) {
        width: 24%;
        &:nth-child(4n+1) {
          clear: left;
        }
      }
      @include breakpoint($large) {
        width: 18%;
        &:nth-child(5n+1) {
          clear: left;
        }
      }
      .views-field a {
        background-position: left center;
        background-size: 60px;
        color: $blue;
        display: block;
        font-size: 1em;
        height: 100px;
        line-height: 1;
        padding: 2.75em 2em 2.75em 7em;
        text-align: left;
        &:hover, &.clicked {
          color: $dk-blue;
          text-decoration: none;
        }
        @include breakpoint($mid-small) {
          background-position: center center;
          background-size: 70px;
          padding: 140px 0.25em 0 0.25em;
          text-align: center;
        }
      }
    }
  }
  .view-cod-schedule-content {
    padding-top: 4em;
    > .view-content {
      margin: auto;
      @include add-tracks('&.session');
      .timeslot {
        clear: both;
        margin-bottom: 0;
        overflow: auto;
        padding: 1em;
        @include breakpoint($medium) {
          padding: 2em;
        }
        h3 {
          font-size: 2em;
          a {
            color: $black;
            font-size: 0.9em;
          }
        }
        .date-display-single {
          display: block;
          width: 170px;
          margin: 0 auto;
        }
        .timeslot-content {
          .schedule-item {
            background-color: $blue;
            color: $white;
            text-align: center;
            .views-field-ops {
              display: none;
              margin-top: 0;
            }
            .views-field-field-speakers {
              background-color: transparent;
              border: none;
              padding: 0.5em 0 0 0;
              position: relative;
            }
          }
          .views-row {
            background-color: $white;
            background-size: 50px;
            background-position: bottom 75px right 8px;
            border-color: $blue;
            float: left;
            padding-bottom: 5em;
            position: relative;
            text-align: left;
            h3 {
              color: $black;
              font-family: $font-body;
              margin: 0;
              min-height: 120px;
              padding-bottom: 2em;
              font-size: 1em;
              a {
                color: $black;
              }
            }
            .flag-session-schedule {
              color: $blue;
              a {
                color: $blue;
              }
            }
            .views-field-field-speakers {
              background-color: $blue;
              border: 4px solid #fff;
              color: $white;
              padding: 1em;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              a {
                color: $white;
              }
            }
            .views-field-title {
              color: $black;
              line-height: 1.25;
              margin-bottom: 0.5em;
              a {
                color: $black;
              }
            }
          }
        }
      }
    }
    h2 {
      color: $blue;
      margin-top: 0.5em;
      text-align: center;
      a {
        color: $blue;
      }
    }
  }
}
