.page-node-sponsors {
  @include hr-header(olive);
  .preface {
    text-align: center;
    .subheader {
      @extend h3;
    }
  }
  .level-inner {
    text-align: center;
    h2 {
      padding: 75px 0;
    }
  }
}