.page-node-community {
  .l-main .preface {
    padding: 0;
  }
  .content .pane-title {
    text-align: center;
  }
  .view-drupalcon-attendees .views-row {
    border: 2px solid #eee;
    .views-field-picture img {
      border: 1px solid #eee;
      max-width: 100px;
    }
  }
}

.view-community-keynotes {
  .flag-session-vote a {
    @extend .button-link;
  }
}
