.pane-cod-sponsors-platinum {
  .views-row {
    float: left;
    list-style-type: none;
    margin-left: 1%;
    min-height: 150px;
    overflow: auto;
    padding: 1em 1em 8em 1em;
    width: 100%;
    @include breakpoint($small $mid-small) {
      width: 49%;
      &:nth-child(2n+1) {
        clear: left;
      }
    }
    @include breakpoint($mid-small) {
      width: 24%;
      &:nth-child(4n+1) {
        clear: left;
      }
    }
  }
}

.pane-cod-sponsors-sponsored {
  .views-row {
    float: left;
    margin-left: 0%;
    min-height: 0;
    padding: 1em;
    width: 100%;
  }
}