<form>
<fieldset data-drupal-selector="edit-field-tags" id="edit-field-tags--wrapper" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
      <legend>
    <span class="fieldset-legend">Tags</span>
  </legend>
  <div class="fieldset-wrapper">
            <div id="edit-field-tags" class="form-checkboxes"><div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-3 js-form-item-field-tags-3">
        <input data-drupal-selector="edit-field-tags-3" type="checkbox" id="edit-field-tags-3" name="field_tags[3]" value="3" class="form-checkbox">

        <label for="edit-field-tags-3" class="option">Being Human</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-2 js-form-item-field-tags-2">
        <input data-drupal-selector="edit-field-tags-2" type="checkbox" id="edit-field-tags-2" name="field_tags[2]" value="2" class="form-checkbox">

        <label for="edit-field-tags-2" class="option">Development</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-1 js-form-item-field-tags-1">
        <input data-drupal-selector="edit-field-tags-1" type="checkbox" id="edit-field-tags-1" name="field_tags[1]" value="1" class="form-checkbox">

        <label for="edit-field-tags-1" class="option">UX</label>
      </div>
</div>

          </div>
</fieldset>



<div class="field--type-entity-reference field--name-field-tags field--widget-options-buttons js-form-wrapper form-wrapper" data-drupal-selector="edit-field-tags-wrapper" id="edit-field-tags-wrapper"><fieldset data-drupal-selector="edit-field-tags" aria-describedby="edit-field-tags--wrapper--description" id="edit-field-tags--wrapper" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
      <legend>
    <span class="fieldset-legend">Tags</span>
  </legend>
  <div class="fieldset-wrapper">
            <div id="edit-field-tags" class="form-checkboxes"><div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-1 js-form-item-field-tags-1">
        <input data-drupal-selector="edit-field-tags-1" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-1" name="field_tags[1]" value="1" class="form-checkbox">

        <label for="edit-field-tags-1" class="option">Backend Development</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-6 js-form-item-field-tags-6">
        <input data-drupal-selector="edit-field-tags-6" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-6" name="field_tags[6]" value="6" class="form-checkbox">

        <label for="edit-field-tags-6" class="option">Being Human</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-11 js-form-item-field-tags-11">
        <input data-drupal-selector="edit-field-tags-11" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-11" name="field_tags[11]" value="11" class="form-checkbox">

        <label for="edit-field-tags-11" class="option">Business</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-16 js-form-item-field-tags-16">
        <input data-drupal-selector="edit-field-tags-16" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-16" name="field_tags[16]" value="16" class="form-checkbox">

        <label for="edit-field-tags-16" class="option">Career Development</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-21 js-form-item-field-tags-21">
        <input data-drupal-selector="edit-field-tags-21" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-21" name="field_tags[21]" value="21" class="form-checkbox">

        <label for="edit-field-tags-21" class="option">Community</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-26 js-form-item-field-tags-26">
        <input data-drupal-selector="edit-field-tags-26" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-26" name="field_tags[26]" value="26" class="form-checkbox">

        <label for="edit-field-tags-26" class="option">Content Strategy</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-31 js-form-item-field-tags-31">
        <input data-drupal-selector="edit-field-tags-31" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-31" name="field_tags[31]" value="31" class="form-checkbox">

        <label for="edit-field-tags-31" class="option">Design</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-36 js-form-item-field-tags-36">
        <input data-drupal-selector="edit-field-tags-36" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-36" name="field_tags[36]" value="36" class="form-checkbox">

        <label for="edit-field-tags-36" class="option">DevOps</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-41 js-form-item-field-tags-41">
        <input data-drupal-selector="edit-field-tags-41" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-41" name="field_tags[41]" value="41" class="form-checkbox">

        <label for="edit-field-tags-41" class="option">Diversity &amp; Inclusion</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-46 js-form-item-field-tags-46">
        <input data-drupal-selector="edit-field-tags-46" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-46" name="field_tags[46]" value="46" class="form-checkbox">

        <label for="edit-field-tags-46" class="option">Front End Development</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-81 js-form-item-field-tags-81">
        <input data-drupal-selector="edit-field-tags-81" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-81" name="field_tags[81]" value="81" class="form-checkbox">

        <label for="edit-field-tags-81" class="option">Hosting</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-51 js-form-item-field-tags-51">
        <input data-drupal-selector="edit-field-tags-51" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-51" name="field_tags[51]" value="51" class="form-checkbox">

        <label for="edit-field-tags-51" class="option">Leadership</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-56 js-form-item-field-tags-56">
        <input data-drupal-selector="edit-field-tags-56" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-56" name="field_tags[56]" value="56" class="form-checkbox">

        <label for="edit-field-tags-56" class="option">Project Management</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-61 js-form-item-field-tags-61">
        <input data-drupal-selector="edit-field-tags-61" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-61" name="field_tags[61]" value="61" class="form-checkbox">

        <label for="edit-field-tags-61" class="option">Security</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-66 js-form-item-field-tags-66">
        <input data-drupal-selector="edit-field-tags-66" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-66" name="field_tags[66]" value="66" class="form-checkbox">

        <label for="edit-field-tags-66" class="option">Site Building</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-71 js-form-item-field-tags-71">
        <input data-drupal-selector="edit-field-tags-71" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-71" name="field_tags[71]" value="71" class="form-checkbox">

        <label for="edit-field-tags-71" class="option">Testing</label>
      </div>
<div class="js-form-item form-item js-form-type-checkbox form-item-field-tags-76 js-form-item-field-tags-76">
        <input data-drupal-selector="edit-field-tags-76" aria-describedby="edit-field-tags--description" type="checkbox" id="edit-field-tags-76" name="field_tags[76]" value="76" class="form-checkbox">

        <label for="edit-field-tags-76" class="option">User Experience</label>
      </div>
</div>

              <div id="edit-field-tags--wrapper--description" class="description">Help Text</div>
      </div>
</fieldset>
</div>

</form>
