<div class="js-form-item form-item js-form-type-managed-file form-item-field-slides-0 js-form-item-field-slides-0">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'form_element_label' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->
<label for="edit-field-slides-0-upload" id="edit-field-slides-0--label">Slides</label>
<!-- END OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->




<!-- THEME DEBUG -->
<!-- THEME HOOK: 'file_managed_file' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content-edit/file-managed-file.html.twig' -->
<div id="edit-field-slides-0" class="js-form-managed-file form-managed-file">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__file' -->
<!-- FILE NAME SUGGESTIONS:
   * input--file.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
<input data-drupal-selector="edit-field-slides-0-upload" type="file" id="edit-field-slides-0-upload" name="files[field_slides_0]" size="22" class="js-form-file form-file">

<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__submit' -->
<!-- FILE NAME SUGGESTIONS:
   * input--submit.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
<input class="js-hide button js-form-submit form-submit" data-drupal-selector="edit-field-slides-0-upload-button" formnovalidate="formnovalidate" type="submit" id="edit-field-slides-0-upload-button" name="field_slides_0_upload_button" value="Upload">

<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__hidden' -->
<!-- FILE NAME SUGGESTIONS:
   * input--hidden.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
<input data-drupal-selector="edit-field-slides-0-fids" type="hidden" name="field_slides[0][fids]">

<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'input__hidden' -->
<!-- FILE NAME SUGGESTIONS:
   * input--hidden.html.twig
   x input.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
<input data-drupal-selector="edit-field-slides-0-display" type="hidden" name="field_slides[0][display]" value="1">

<!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


</div>

<!-- END OUTPUT from 'core/themes/stable/templates/content-edit/file-managed-file.html.twig' -->


            <div id="edit-field-slides-0--description" class="description">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'file_upload_help' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/content-edit/file-upload-help.html.twig' -->
One file only.<br>10 MB limit.<br>Allowed types: pdf.

<!-- END OUTPUT from 'core/themes/stable/templates/content-edit/file-upload-help.html.twig' -->


    </div>
  </div>
