fieldset {
  background-color: transparent;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  .fieldset-description {
    margin: 0 0 1em;
  }
}

legend {
  margin-bottom: 5px;
  padding: 0;
  font-family: $alt-font-family;
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
}

label {
  display: block;
  margin-bottom: 1px;
  font-family: $alt-font-family;
  font-size: 0.85em;
  font-weight: 500;
  text-transform: uppercase;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  appearance: none;
  background-color: $form-background-color;
  border: $form-border;
  border-radius: $form-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 8px;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($form-border-color, 20%);
  }

  &:focus {
    border-color: shade($form-border-color, 50%);
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($form-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $form-border;
    }
  }

  &::placeholder {
    color: $gray;
  }

}

.form-autocomplete {
  html.js & {
    background-position: 99% 13px;
    padding-right: 30px;
    &.throbbing {
      background-position: 99% -7px;
    }
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 5px;
  margin-left: 5px;
}

.form-type-radio {
  label {
    display: inline-block;
    background-image: url('../images/cascadia-icon-sprite.png');
    background-position: left -620px;
    background-repeat: no-repeat;
    padding-left: 25px;
  }
  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  input[type="radio"]:checked + label {
    background-position: left -670px;
  }
}

.form-type-checkbox {
  label {
    display: inline-block;
    background-image: url('../images/cascadia-icon-sprite.png');
    background-position: left -720px;
    background-repeat: no-repeat;
    padding-left: 25px;
  }
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  input[type="checkbox"]:checked + label {
    background-position: left -770px;
  }
}

[type="file"] {
  margin-bottom: 10px;
  width: 100%;
}

select {
  -webkit-appearance: none;
  margin-bottom: 10px;
  width: 100%;
  padding: 6px 8px;
  background-image: url('../images/cascadia-icon-sprite.png');
  background-position: right -450px;
  background-repeat: no-repeat;
}

.form-item, .form-actions {
  .description {
    color: $lt-gray;
    font-style: italic;
    font-size: 0.75em;
    margin: 0 0 1em;
  }
}

.file-widget {
  input[type="submit"] {
    margin-bottom: 10px;
  }
  .messages.file-upload-js-error {
    padding: 10px;
    font-size: 0.85em;
  }
}

.field-multiple-table {
  border-bottom: none;
  margin-bottom: 10px;
  th {
    min-width: 50px;
    padding: 0;
    margin: 0;
    font-family: $alt-font-family;
    font-size: 0.85em;
    font-weight: bold;
    text-transform: uppercase;
    label {
      font-size: 1em;
    }
  }
  tr {
    border-top: none;
  }
  tr.even, tr.odd {
    background-color: transparent;
  }
  td {
    padding-left: 0;
    &:last-child {
      padding-right: 0;
    }
  }
  input {
    margin-bottom: 0;
  }
  .field-multiple-drag {
    background-image: url('../images/cascadia-icon-sprite.png');
    background-position: left -560px;
    background-repeat: no-repeat;
    padding: 0;
    a {
      display: block;
      padding: 0.5em;
    }
    .handle {
      background-image: none;
    }
    .tabledrag-changed {
      display: none;
    }
  }

}
.tabledrag-toggle-weight-wrapper {
  font-family: $alt-font-family;
  font-size: 0.85em;
  text-transform: uppercase;
}
.tabledrag-changed-warning.messages {
  padding: 10px;
  font-size: 0.85em;
}





