@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,500);

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;
  letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $alt-font-family;
  font-weight: 700;
  line-height: $heading-line-height;
  margin: 0 0 1em;
  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 4em;
  line-height: 1.1;
}

h2 {
  font-size: 3em;
  line-height: 1.1;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

p {
  margin: 0 0 1em;
}

a {
  color: $link-color;
  text-decoration: underline;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: lighten($link-color, 15%);
    text-decoration: none;
  }
}

hr {
  border-bottom: $form-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 20px 0;
}

menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote {
  background-color: $dk-white;
  border-left: solid 8px $primary-color;
  margin: 1em 0;
  padding: 30px;
}

/**
 ** Typography for textareas. Some defaults need to be re-applied.
 */

.field--full-html {

  ol, ul {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ol {
    list-style-type: decimal;
    padding-left: 18px;
  }

  ul {
    padding-left: 8px;
    li {
      text-indent: -8px;
      &:before {
        content: "- ";
      }
    }
  }

}
