.view-display-id-track_session_filter,
.view-display-id-schedule_session_tracks {

  .code-develop a,
  .code--develop a {
    color: $blue;
  }

  .business-community a,
  .business--community a {
    color: $red;
  }

  .design-theme-ux a,
  .design-theme--ux a {
    color: $purple;
  }

  .devops-performance a,
  .devops--performance a {
    color: $yellow;
  }

}