@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans);

body {
  color: $dk-gray;
  font-family: $font-body;
  font-size: 18px;
  line-height: 1.556;
  a {
    color: $blue;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $dk-blue;
  font-family: $font-display;
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5em;
  line-height: 1.012;
}

h2 {
  font-size: 2em;
  line-height: 1.051;
}

h3 {
  font-size: 1.65em;
  line-height: 1.0625;
}

h4, h5, h6 {
  font-size: 1.4em;
  line-height: 1.037;
}
