@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,500,900);
.l-main, .l-region--footer, .l-header {
  margin: 0 auto;
  width: 94%;
  max-width: 1280px; }

body {
  background-image: none; }

.l-main-wrapper .l-constrained {
  min-height: 25em;
  position: relative;
  width: auto; }

.panel-layout {
  margin: 0px;
  max-width: 100%; }

.panel-pane {
  padding: 1em 0; }

.l-main {
  margin-top: 60px;
  margin-bottom: 40px; }

button,
.button,
#edit-back,
#edit-cancel,
.page-ticket #edit-ticket-registrant .fieldset-description a,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: none;
  background-color: #00874b;
  border: 0;
  border-radius: 0px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2 ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus,
  .button:hover,
  #edit-back:hover,
  #edit-cancel:hover,
  .page-ticket #edit-ticket-registrant .fieldset-description a:hover,
  .button:focus,
  #edit-back:focus,
  #edit-cancel:focus,
  .page-ticket #edit-ticket-registrant .fieldset-description a:focus,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    background-color: #006c3c;
    color: #fff; }
  button:disabled,
  .button:disabled,
  #edit-back:disabled,
  #edit-cancel:disabled,
  .page-ticket #edit-ticket-registrant .fieldset-description a:disabled,
  input[type="button"]:disabled,
  input[type="reset"]:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover,
    .button:disabled:hover,
    #edit-back:disabled:hover,
    #edit-cancel:disabled:hover,
    .page-ticket #edit-ticket-registrant .fieldset-description a:disabled:hover,
    input[type="button"]:disabled:hover,
    input[type="reset"]:disabled:hover,
    input[type="submit"]:disabled:hover {
      background-color: #00874b; }
  button.button--large,
  .button.button--large,
  .button--large#edit-back,
  .button--large#edit-cancel,
  .page-ticket #edit-ticket-registrant .fieldset-description a.button--large,
  input[type="button"].button--large,
  input[type="reset"].button--large,
  input[type="submit"].button--large {
    padding: 17px 50px;
    font-size: 1.4em; }
  .form-actions button, .form-actions
  .button, .form-actions
  #edit-back, .form-actions
  #edit-cancel, .form-actions .page-ticket #edit-ticket-registrant .fieldset-description a, .page-ticket #edit-ticket-registrant .fieldset-description .form-actions a, .form-actions
  input[type="button"], .form-actions
  input[type="reset"], .form-actions
  input[type="submit"] {
    margin-right: 10px; }

fieldset {
  background-color: transparent;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important; }
  fieldset .fieldset-description {
    margin: 0 0 1em; }

legend {
  margin-bottom: 5px;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase; }

label {
  display: block;
  margin-bottom: 1px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85em;
  font-weight: 500;
  text-transform: uppercase; }

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
select,
textarea {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  appearance: none;
  background-color: #F9F9F9;
  border: 1px solid #979797;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 8px;
  transition: border-color 0.2 ease-in-out;
  width: 100%; }
  input[type="color"]:hover,
  input[type="date"]:hover,
  input[type="datetime"]:hover,
  input[type="datetime-local"]:hover,
  input[type="email"]:hover,
  input[type="month"]:hover,
  input[type="number"]:hover,
  input[type="password"]:hover,
  input[type="search"]:hover,
  input[type="tel"]:hover,
  input[type="text"]:hover,
  input[type="time"]:hover,
  input[type="url"]:hover,
  input[type="week"]:hover,
  input:not([type]):hover,
  select:hover,
  textarea:hover {
    border-color: #797979; }
  input[type="color"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="email"]:focus,
  input[type="month"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  input[type="week"]:focus,
  input:not([type]):focus,
  select:focus,
  textarea:focus {
    border-color: #4c4c4c;
    box-shadow: none;
    outline: none; }
  input[type="color"]:disabled,
  input[type="date"]:disabled,
  input[type="datetime"]:disabled,
  input[type="datetime-local"]:disabled,
  input[type="email"]:disabled,
  input[type="month"]:disabled,
  input[type="number"]:disabled,
  input[type="password"]:disabled,
  input[type="search"]:disabled,
  input[type="tel"]:disabled,
  input[type="text"]:disabled,
  input[type="time"]:disabled,
  input[type="url"]:disabled,
  input[type="week"]:disabled,
  input:not([type]):disabled,
  select:disabled,
  textarea:disabled {
    background-color: #ededed;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover,
    input[type="date"]:disabled:hover,
    input[type="datetime"]:disabled:hover,
    input[type="datetime-local"]:disabled:hover,
    input[type="email"]:disabled:hover,
    input[type="month"]:disabled:hover,
    input[type="number"]:disabled:hover,
    input[type="password"]:disabled:hover,
    input[type="search"]:disabled:hover,
    input[type="tel"]:disabled:hover,
    input[type="text"]:disabled:hover,
    input[type="time"]:disabled:hover,
    input[type="url"]:disabled:hover,
    input[type="week"]:disabled:hover,
    input:not([type]):disabled:hover,
    select:disabled:hover,
    textarea:disabled:hover {
      border: 1px solid #979797; }
  input[type="color"]::placeholder,
  input[type="date"]::placeholder,
  input[type="datetime"]::placeholder,
  input[type="datetime-local"]::placeholder,
  input[type="email"]::placeholder,
  input[type="month"]::placeholder,
  input[type="number"]::placeholder,
  input[type="password"]::placeholder,
  input[type="search"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="text"]::placeholder,
  input[type="time"]::placeholder,
  input[type="url"]::placeholder,
  input[type="week"]::placeholder,
  input:not([type])::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: #6a7076; }

html.js .form-autocomplete {
  background-position: 99% 13px;
  padding-right: 30px; }
  html.js .form-autocomplete.throbbing {
    background-position: 99% -7px; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 5px;
  margin-left: 5px; }

.form-type-radio label {
  display: inline-block;
  background-image: url("../images/cascadia-icon-sprite.png");
  background-position: left -620px;
  background-repeat: no-repeat;
  padding-left: 25px; }
.form-type-radio input[type="radio"] {
  position: absolute;
  opacity: 0; }
.form-type-radio input[type="radio"]:checked + label {
  background-position: left -670px; }

.form-type-checkbox label {
  display: inline-block;
  background-image: url("../images/cascadia-icon-sprite.png");
  background-position: left -720px;
  background-repeat: no-repeat;
  padding-left: 25px; }
.form-type-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0; }
.form-type-checkbox input[type="checkbox"]:checked + label {
  background-position: left -770px; }

[type="file"] {
  margin-bottom: 10px;
  width: 100%; }

select {
  -webkit-appearance: none;
  margin-bottom: 10px;
  width: 100%;
  padding: 6px 8px;
  background-image: url("../images/cascadia-icon-sprite.png");
  background-position: right -450px;
  background-repeat: no-repeat; }

.form-item .description, .form-actions .description {
  color: #9A9A9A;
  font-style: italic;
  font-size: 0.75em;
  margin: 0 0 1em; }

.file-widget input[type="submit"] {
  margin-bottom: 10px; }
.file-widget .messages.file-upload-js-error {
  padding: 10px;
  font-size: 0.85em; }

.field-multiple-table {
  border-bottom: none;
  margin-bottom: 10px; }
  .field-multiple-table th {
    min-width: 50px;
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.85em;
    font-weight: bold;
    text-transform: uppercase; }
    .field-multiple-table th label {
      font-size: 1em; }
  .field-multiple-table tr {
    border-top: none; }
  .field-multiple-table tr.even, .field-multiple-table tr.odd {
    background-color: transparent; }
  .field-multiple-table td {
    padding-left: 0; }
    .field-multiple-table td:last-child {
      padding-right: 0; }
  .field-multiple-table input {
    margin-bottom: 0; }
  .field-multiple-table .field-multiple-drag {
    background-image: url("../images/cascadia-icon-sprite.png");
    background-position: left -560px;
    background-repeat: no-repeat;
    padding: 0; }
    .field-multiple-table .field-multiple-drag a {
      display: block;
      padding: 0.5em; }
    .field-multiple-table .field-multiple-drag .handle {
      background-image: none; }
    .field-multiple-table .field-multiple-drag .tabledrag-changed {
      display: none; }

.tabledrag-toggle-weight-wrapper {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85em;
  text-transform: uppercase; }

.tabledrag-changed-warning.messages {
  padding: 10px;
  font-size: 0.85em; }

img, media {
  max-width: 100%; }

iframe {
  border: none;
  max-width: 100%; }

.l-region--sidebar .block img {
  width: 100%; }

table {
  border-bottom: 1px solid #b9bdc0;
  border-collapse: collapse;
  margin: 0 0 30px 0;
  width: 100%; }
  table th {
    background-color: transparent;
    padding: 0.5em;
    margin: 0.25em; }
  table tr {
    margin: 0.25em;
    border-top: 1px solid #b9bdc0; }
    table tr.odd {
      background-color: transparent; }
      table tr.odd .form-item {
        white-space: normal; }
    table tr td {
      padding: 0.5em; }
      table tr td.active {
        background-color: transparent; }

body {
  color: #303030;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.03em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 1em; }
  .pane-node-body h1, .pane-node-body h2, .pane-node-body h3, .pane-node-body h4, .pane-node-body h5, .pane-node-body h6 {
    margin-top: 1em;
    margin-bottom: .5em; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }

h1 {
  font-size: 2em !important;
  line-height: 1.1; }

h2 {
  font-size: 1.8em;
  line-height: 1.1; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

p {
  margin: 0 0 1em; }

a {
  color: #000;
  text-decoration: underline;
  transition: color 0.2 ease-in-out; }
  a:active, a:focus, a:hover {
    color: #262626;
    text-decoration: none; }

hr {
  border-bottom: 1px solid #979797;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 20px 0; }

menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

blockquote {
  background-color: #F5F5F5;
  border-left: solid 8px #1963a3;
  margin: 1em 0;
  padding: 30px; }

/**
 ** Typography for textareas. Some defaults need to be re-applied.
 */
.field--full-html ol, .field--full-html ul {
  margin-top: 1em;
  margin-bottom: 1em; }
.field--full-html ol {
  list-style-type: decimal;
  padding-left: 18px; }
.field--full-html ul {
  padding-left: 8px; }
  .field--full-html ul li {
    text-indent: -8px; }
    .field--full-html ul li:before {
      content: "- "; }
    .field--full-html ul li p {
      display: inline; }

.videoEmbed {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoEmbed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

body.cke_editable {
  background-color: #FFF; }

#admin-menu .js-menu-item-toggle {
  display: none !important; }

#edit-field-event-tickets {
  background-color: transparent; }
  #edit-field-event-tickets th, #edit-field-event-tickets tr.odd, #edit-field-event-tickets tr.even, #edit-field-event-tickets td {
    background-color: transparent; }

.page-node-webform .l-content {
  max-width: 1280px; }

.webform-confirmation {
  margin: 1em auto;
  width: 94%; }

.links {
  padding: 0.72em 0px;
  margin: auto;
  width: 94%; }

.block--cod-sponsors {
  overflow: hidden; }
  .block--cod-sponsors .block__title {
    color: gainsboro;
    font-size: 1.4em;
    text-transform: uppercase; }

#block-cod-sponsors-gold .block__title {
  font-size: 2.2em; }

#block-cod-sponsors-silver .block__title {
  font-size: 1.8em; }

.block--credit {
  font-size: 0.85em; }

.block--header-cta {
  display: none; }

.block--map {
  overflow: hidden;
  margin-bottom: 20px; }
  .block--map iframe {
    margin-top: -46px; }

.l-region--errata h3 {
  margin-bottom: 0; }
.l-region--errata .block {
  max-width: 55em;
  margin: auto; }
  .l-region--errata .block img {
    float: left;
    margin-right: 1.5em; }
.l-region--errata .event {
  width: 100%;
  clear: both;
  margin: auto;
  padding: 0.25em; }

.l-sponsors-wrapper {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -4.25em;
  height: 4.25em; }
  .l-sponsors-wrapper .block {
    position: relative;
    display: block;
    padding: 0 1em;
    margin: -3px auto 0 auto; }
    .l-sponsors-wrapper .block::before {
      content: '';
      /* To generate the box */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #0077C0; }
    .l-sponsors-wrapper .block a {
      float: left;
      max-width: 44%; }
      .l-sponsors-wrapper .block a:first-child {
        margin-right: 10%; }
  .l-sponsors-wrapper .block__content {
    padding: 0.1em 1em;
    overflow: auto;
    position: relative; }

/* Display sponsors' logos, with gold > silver > bronze, decreasing size. */
/* Note that these adjustments only affect the **width**. Each gets an appropriate amount of horizontal space on
   the screen. However, some logos are taller than others, and some are big and solid. The logos should be
   **manually shrunk** first and whitespace-padded on the sides if it is tall or extra-solid. Logos
   that are wide and sparse (such as for Affinity Bridge) should have *less* whitespace at their sides,
   to make them bigger. */
/* $gold-shrinkage : 1;   No shrinkage.. */
/* Note that by reducing it linearly by 2/3, you're really reducing the area to 4/9. */
/* And here we shrink it by the same amount again (2/3 of 2/3). */
/* on narrow displays */
/* on medium-width displays */
/* on full monitors */
/* This is the default setup, with widths for 'gold' sponsors. */
.view-cod-sponsors .views-row {
  float: left;
  padding: 1em;
  width: 100%; }

/* override the widths for 'silver'. */
#block-cod-sponsors-silver .view-cod-sponsors .views-row {
  width: 66.7%; }

/* override the widths for 'bronze'. */
#block-cod-sponsors-bronze .view-cod-sponsors .views-row {
  width: 44.4%; }

.pane-cod-sponsors-sponsored .views-row {
  float: left;
  margin-left: 0%;
  min-height: 0;
  padding: 1em;
  width: 100%; }

.l-region--footer .block h3 {
  font-size: 1.5em;
  text-align: center; }
.l-region--footer .block img {
  width: 100%; }
.l-region--footer .block p {
  line-height: 1.5em; }

.comment-wrapper {
  margin: 2em 0; }
  .comment-wrapper h3 {
    margin: 0.5em 0; }
    .comment-wrapper h3 a {
      color: #303030; }
  .comment-wrapper .new {
    color: #FFF;
    padding: 0 1em; }
  .comment-wrapper .comment {
    background-color: #a2a2a2;
    border: 2px solid #6a7076;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    margin-bottom: 2em;
    padding: 2em;
    text-align: left; }
    .comment-wrapper .comment:before, .comment-wrapper .comment:after {
      content: "";
      display: table; }
    .comment-wrapper .comment:after {
      clear: both; }
    .comment-wrapper .comment footer {
      float: left;
      font-size: 0.8em;
      padding: 1.25em;
      text-align: center;
      width: 100%; }
    .comment-wrapper .comment .comment-content {
      float: left;
      padding-left: 1em;
      width: 100%; }
    .comment-wrapper .comment .links {
      width: 100%; }
  .comment-wrapper .comments__form-title {
    background: none;
    font-size: 1.8em;
    margin-top: 4em; }
  .comment-wrapper .user-picture img {
    -moz-border-radius: 10em;
    -webkit-border-radius: 10em;
    -o-border-radius: 10em;
    -ms-border-radius: 10em;
    -khtml-border-radius: 10em;
    border-radius: 10em; }
  .comment-wrapper .indented {
    background: url("../images/indented.svg") left 2em top 3em no-repeat;
    background-size: 2em 2em;
    padding-left: 8em;
    margin-left: 0; }
    .no-svg .comment-wrapper .indented {
      background-image: url("../images/indented.png"); }
  .comment-wrapper .comment-form {
    margin: auto;
    text-align: left; }

.page-comment .l-content, .page-comment .has-no-sidebars .l-content {
  margin: 1em auto;
  width: 94%; }
  .page-comment .l-content h3, .page-comment .has-no-sidebars .l-content h3 {
    margin: 0.5em 0; }
    .page-comment .l-content h3 a, .page-comment .has-no-sidebars .l-content h3 a {
      color: #303030; }
  .page-comment .l-content .page-title, .page-comment .has-no-sidebars .l-content .page-title {
    padding: 0.72em 0; }
  .page-comment .l-content .comment, .page-comment .has-no-sidebars .l-content .comment {
    background-color: #a2a2a2;
    border: 2px solid #6a7076;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    margin-bottom: 2em;
    padding: 2em;
    text-align: left; }
    .page-comment .l-content .comment:before, .page-comment .l-content .comment:after, .page-comment .has-no-sidebars .l-content .comment:before, .page-comment .has-no-sidebars .l-content .comment:after {
      content: "";
      display: table; }
    .page-comment .l-content .comment:after, .page-comment .has-no-sidebars .l-content .comment:after {
      clear: both; }
    .page-comment .l-content .comment footer, .page-comment .has-no-sidebars .l-content .comment footer {
      float: left;
      font-size: 0.8em;
      padding: 1.25em;
      text-align: center;
      width: 100%; }
    .page-comment .l-content .comment .comment-content, .page-comment .has-no-sidebars .l-content .comment .comment-content {
      float: left;
      padding-left: 1em;
      width: 100%; }
    .page-comment .l-content .comment .links, .page-comment .has-no-sidebars .l-content .comment .links {
      width: 100%; }
  .page-comment .l-content .user-picture img, .page-comment .has-no-sidebars .l-content .user-picture img {
    -moz-border-radius: 10em;
    -webkit-border-radius: 10em;
    -o-border-radius: 10em;
    -ms-border-radius: 10em;
    -khtml-border-radius: 10em;
    border-radius: 10em; }

#edit-back, #edit-cancel {
  background-color: transparent;
  border: 2px solid #00874b;
  color: #00874b;
  margin-left: 0.6em;
  padding: 10px 21px; }
  #edit-back:hover, #edit-back:focus, #edit-cancel:hover, #edit-cancel:focus {
    background-color: #00874b;
    color: #FFF;
    text-decoration: none; }

.page-checkout table.checkout-review {
  border: none;
  margin-top: 1em; }
  .page-checkout table.checkout-review tr:nth-child(2n) {
    background-color: #FFF; }
  .page-checkout table.checkout-review table {
    border: none; }

table.checkout-review .pane-data-full {
  padding-right: 0;
  padding-left: 0; }

table.checkout-review .pane-title {
  border-top: 0;
  border-bottom: 0; }
  table.checkout-review .pane-title td {
    padding: 0;
    border-top: 0;
    border-bottom: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.4em;
    text-transform: uppercase; }
table.checkout-review .pane-data {
  border-top: 0;
  margin-bottom: 40px; }

.button-link, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a {
  background-color: transparent;
  border: 2px solid #303030;
  color: #303030;
  display: inline-block;
  padding: 0.4em 1em; }
  .button-link:hover, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:hover, .button-link:focus, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a:focus {
    background-color: #303030;
    color: #FFF;
    text-decoration: none; }
  .button-link.active, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a.active {
    color: #FFF;
    background-color: #6a7076;
    border-color: #6a7076; }

.l-footer-wrapper {
  background-color: #F5F5F5; }

.form--block, .page-checkout .account .fieldset-wrapper,
.page-checkout .customer_profile_billing .fieldset-wrapper,
.page-checkout .commerce_coupon .fieldset-wrapper, .page-checkout .commerce_payment .fieldset-wrapper, .page-ticket #edit-ticket-registrant .fieldset-description, .page-ticket #edit-ticket-registrant .fieldset-wrapper,
.page-ticket #edit-ticket-registrationnew-0 .fieldset-wrapper {
  border: 1px solid #CCC;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 30px; }

@media (min-width: 900px) {
  .node-session-form {
    overflow: hidden; }
    .node-session-form .form-item-title,
    .node-session-form .field-name-body,
    .node-session-form .field-name-field-experience,
    .node-session-form #field-cod-events-filter,
    .node-session-form #field-cod-session-og-vocabulary {
      width: 61.86441%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none;
      clear: left;
      margin-bottom: 30px; }
    .node-session-form .field-name-field-speakers,
    .node-session-form .field-name-field-slides {
      width: 32.20339%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      clear: right;
      margin-bottom: 30px; }
    .node-session-form .form-item-title {
      margin-top: 29px; }
    .node-session-form .required-fields h3 {
      display: none; }
    .node-session-form .form-actions {
      clear: both; } }

@media (min-width: 900px) {
  .user-profile-form .form-item-name,
  .user-profile-form .field-name-field-profile-first,
  .user-profile-form .field-name-field-profile-job-title,
  .user-profile-form #edit-contact,
  .user-profile-form .field-name-field-profile-phone,
  .user-profile-form .form-item-field-profile-location-und-0-country,
  .user-profile-form .form-item-field-profile-location-und-0-thoroughfare {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left; }
  .user-profile-form .form-item-mail,
  .user-profile-form .field-name-field-profile-last,
  .user-profile-form .field-name-field-profile-org,
  .user-profile-form .form-item-field-profile-location-und-0-premise {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .user-profile-form .form-item-pass,
  .user-profile-form fieldset,
  .user-profile-form .street-block,
  .user-profile-form .locality-block {
    clear: left; } }

.user-login {
  max-width: 480px; }

.user-pass {
  max-width: 480px; }

.l-header {
  padding-top: 20px;
  padding-bottom: 20px;
  *zoom: 1;
  display: -webkit-flex;
  display: flex;
  align-items: -webkit-center;
  align-items: center; }
  .l-header:after {
    content: "";
    display: table;
    clear: both; }
  .l-header .l-branding {
    display: inline-block;
    float: left;
    width: calc(100% - 120px); }
  .l-header .l-header-content {
    display: inline-block;
    float: right;
    width: 120px; }

.menu--footer {
  font-size: 0.85em;
  text-align: center;
  color: #AAA; }
  .menu--footer li {
    display: inline;
    margin-right: 15px; }
    .menu--footer li:last-child {
      margin-right: 0; }
  .menu--footer a {
    color: #000; }

.l-navigation {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3em;
  margin-bottom: 1em;
  text-transform: uppercase; }
  .l-navigation .l-region--navigation {
    display: none;
    position: absolute;
    z-index: 3;
    width: 100%;
    background-color: #1963a3;
    padding-top: 10px;
    padding-bottom: 10px; }
  .l-navigation .block--menu {
    position: static; }
  .l-navigation .menu {
    text-align: right;
    padding: 20px 0; }
    .l-navigation .menu > li {
      list-style: none;
      padding: 10px 0;
      white-space: nowrap; }
      .l-navigation .menu > li.menu-item--parent > a {
        margin-right: 0; }
      .l-navigation .menu > li.menu-item--parent > span {
        display: inline-block;
        width: 28px;
        height: 15px;
        margin-left: 20px;
        margin-right: 15px;
        background-image: url(../images/cascadia-icon-sprite.png);
        background-position: left -151px;
        background-repeat: no-repeat;
        cursor: pointer; }
      .l-navigation .menu > li.menu-item--active > span {
        background-position: left -201px; }
    .l-navigation .menu a {
      display: inline-block;
      color: #FFF;
      line-height: 1.6em;
      text-decoration: none;
      margin-right: 65px; }
  .l-navigation .menu > li > .menu {
    display: none;
    background-color: #0c305b;
    margin-top: 8px;
    font-size: 0.85em; }
    .l-navigation .menu > li > .menu > li {
      margin-right: 0; }

.block--system-user-menu .menu a {
  color: #CCC; }

.menu__button-toggle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.95em;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  margin-top: 16px; }
  .menu__button-toggle:after {
    content: "";
    display: inline-block;
    width: 28px;
    height: 22px;
    margin-left: 10px;
    background-image: url(../images/cascadia-icon-sprite.png);
    background-position: left -352px;
    background-repeat: no-repeat;
    vertical-align: middle; }
  .menu__button-toggle.menu__button-toggle--active:after {
    background-position: left -402px; }

.node--session.node-teaser footer {
  overflow: hidden; }
.node--session.node-teaser .user-picture {
  overflow: hidden;
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 20px 20px 0;
  border-radius: 50%;
  border: solid 1px #CCC; }
.node--session.node-teaser p.submitted {
  display: inline-block;
  float: left;
  width: calc(100% - 75px);
  font-size: 0.8em;
  margin: 12px 0; }

.page-node-bofs .title-region {
  text-align: center; }
  .page-node-bofs .title-region .panel-pane {
    clear: both;
    padding: 0; }
.page-node-bofs .pane-cod-schedule-menu-pane {
  margin: 2em 0;
  padding: 2em;
  text-align: center; }
  .page-node-bofs .pane-cod-schedule-menu-pane ul {
    font-weight: normal;
    margin: 0;
    text-align: center; }
    .page-node-bofs .pane-cod-schedule-menu-pane ul li {
      display: inline;
      list-style-image: none;
      list-style-type: none; }
.page-node-bofs .view-cod-bof-schedule-timeslots .timeslot {
  background-color: #FFF;
  border: 1px solid #6a7076;
  margin-bottom: 2em;
  padding: 2em; }
  .page-node-bofs .view-cod-bof-schedule-timeslots .timeslot .timeslot-content > .views-row {
    border-bottom: 1px solid #6a7076;
    margin: 2em 0;
    padding: 2em 0; }
.page-node-bofs .view-cod-bof-schedule-timeslots h3 {
  font-size: 2.4em;
  font-weight: normal;
  text-align: center; }
.page-node-bofs .view-cod-bof-schedule-timeslots .views-row {
  margin: 2em 0; }
  .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a {
    text-align: center; }
    .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a a:hover {
      color: #9A9A9A; }
.page-node-bofs .view-cod-bof-schedule-timeslots .views-field-name {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center; }

.page-checkout .commerce-checkout-form-checkout {
  overflow: hidden; }
.page-checkout .account legend,
.page-checkout .customer_profile_billing legend,
.page-checkout .commerce_coupon legend {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase; }
.page-checkout .account .fieldset-wrapper,
.page-checkout .customer_profile_billing .fieldset-wrapper,
.page-checkout .commerce_coupon .fieldset-wrapper {
  margin-top: 0; }
.page-checkout .commerce_coupon .fieldset-wrapper {
  overflow: hidden; }
.page-checkout .commerce_coupon .form-item-commerce-coupon-coupon-code {
  width: calc(100% - 160px);
  float: left;
  margin-right: 20px; }
.page-checkout .commerce_coupon input[type="submit"] {
  margin-top: 22px; }
.page-checkout .cart_contents legend {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase; }
.page-checkout .commerce_payment legend {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase; }
.page-checkout .commerce_payment .fieldset-wrapper {
  margin-top: 0; }
.page-checkout .checkout-buttons {
  clear: both; }
  .page-checkout .checkout-buttons #edit-continue {
    margin-right: 10px; }
.page-checkout .commerce-paypal-wps-redirect-form .checkout-help {
  margin: 0 0 1em; }

.page-node-community .page-title {
  display: none; }
.page-node-community .l-main .preface {
  padding: 4.25em 0px 4em;
  text-align: center;
  z-index: 0; }
  .page-node-community .l-main .preface a {
    color: #6a7076; }
  .page-node-community .l-main .preface p {
    margin: 1em auto;
    max-width: 60%; }
  .page-node-community .l-main .preface h1 {
    margin-bottom: 0;
    padding: 0; }
  .page-node-community .l-main .preface .panel-pane {
    padding: 0; }
  .page-node-community .l-main .preface form {
    padding: 2em 0; }
    .page-node-community .l-main .preface form .views-exposed-widget {
      width: 100%; }
      .page-node-community .l-main .preface form .views-exposed-widget label, .page-node-community .l-main .preface form .views-exposed-widget .description {
        text-align: left; }
      .page-node-community .l-main .preface form .views-exposed-widget input, .page-node-community .l-main .preface form .views-exposed-widget select {
        width: 100%; }
.page-node-community .l-main .container.content {
  margin-top: 2em; }
.page-node-community .view-drupalcon-attendees .views-row {
  background-color: #FFF;
  border: 1px solid #303030;
  float: left;
  margin: 2% 0 0 2%;
  min-height: 16.5em;
  padding: 1em;
  text-align: center;
  word-wrap: break-word;
  width: 48%; }
  .page-node-community .view-drupalcon-attendees .views-row:hover {
    background-color: #b4b4b4; }
  .page-node-community .view-drupalcon-attendees .views-row .views-field-picture img {
    border: 1px solid #6a7076; }
  .page-node-community .view-drupalcon-attendees .views-row .views-field-name {
    font-size: 0.9em;
    margin-bottom: 0.5em; }
  .page-node-community .view-drupalcon-attendees .views-row .views-field-field-profile-first, .page-node-community .view-drupalcon-attendees .views-row .views-field-field-profile-last {
    font-weight: bold; }
  .page-node-community .view-drupalcon-attendees .views-row .views-field-field-profile-job-title {
    font-size: 0.9em;
    margin-top: 0.5em; }
  .page-node-community .view-drupalcon-attendees .views-row .views-field-field-profile-org {
    font-size: 0.9em;
    font-style: italic; }
.page-node-community .view-drupalcon-attendees .pager {
  padding-top: 2em; }

.page-node-news .l-content, .page-news .l-content {
  margin: 1em auto;
  width: 94%; }
.page-node-news .page-title, .page-news .page-title {
  padding: 0.72em; }
.page-node-news .view-cod-news, .page-news .view-cod-news {
  padding: 2em; }
  .page-node-news .view-cod-news .links, .page-news .view-cod-news .links {
    width: 100%; }
.page-node-news .feed-icon, .page-news .feed-icon {
  padding-bottom: 1em;
  display: block;
  float: left;
  margin-left: 2em; }

.page-node-registration .title-region {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto; }
.page-node-registration #edit-submit {
  width: 300px; }

.entity-ticket-type {
  max-width: 300px; }
  .entity-ticket-type h3 {
    margin-bottom: 0; }
  .entity-ticket-type .cod_paid_event__commerce-price {
    font-size: 3em;
    font-weight: bold;
    color: #00874b; }
  .entity-ticket-type input[type="text"] {
    max-width: 125px; }

.page-ticket #edit-ticket-registrant .fieldset-description {
  font-size: 1.2em;
  margin-top: 0; }
  .page-ticket #edit-ticket-registrant .fieldset-description a {
    width: calc(100% - 50px);
    margin-top: 10px; }
.page-ticket .registration-data-toggle {
  max-width: 300px; }
.page-ticket #edit-ticket-registrant legend,
.page-ticket #edit-ticket-registrationnew-0 legend {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4em;
  text-transform: uppercase; }
.page-ticket #edit-ticket-registrant .fieldset-wrapper,
.page-ticket #edit-ticket-registrationnew-0 .fieldset-wrapper {
  width: 49.15254%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }

.page-node-schedule .title-region {
  text-align: center; }
  .page-node-schedule .title-region .button-link, .page-node-schedule .title-region .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment a, .page-node-bofs .view-cod-bof-schedule-timeslots .views-row .attachment .page-node-schedule .title-region a {
    margin-top: 1em; }
  .page-node-schedule .title-region .panel-pane {
    clear: both;
    padding: 0; }
.page-node-schedule .pane-cod-schedule-menu-pane {
  margin: 1em 0;
  padding: 1em 2em;
  text-align: center; }
  .page-node-schedule .pane-cod-schedule-menu-pane a {
    margin: 0 0.1em; }
  .page-node-schedule .pane-cod-schedule-menu-pane ul {
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center; }
    .page-node-schedule .pane-cod-schedule-menu-pane ul li {
      display: inline;
      list-style-image: none;
      list-style-type: none; }
.page-node-schedule .pane-cod-session-tracks-schedule-session-tracks ul {
  padding-left: 0; }
.page-node-schedule .pane-cod-session-tracks-schedule-session-tracks li {
  float: left;
  list-style-type: none;
  list-style-image: none;
  margin: 0 1% 1% 0;
  width: 100%; }
  .page-node-schedule .pane-cod-session-tracks-schedule-session-tracks li a {
    font-size: 1.25em;
    line-height: 1;
    text-align: center; }
.page-node-schedule .view-cod-schedule-content > .view-content h3 {
  background-color: transparent;
  font-weight: normal;
  text-align: center; }
.page-node-schedule .view-cod-schedule-content > .view-content > .timeslot {
  margin-bottom: 2em;
  overflow: auto;
  position: relative;
  padding: 2em; }
.page-node-schedule .view-cod-schedule-content > .view-content .timeslot-content {
  width: 100%; }
.page-node-schedule .view-cod-schedule-content > .view-content .gutter-size {
  width: 2%; }
.page-node-schedule .view-cod-schedule-content > .view-content .schedule-item, .page-node-schedule .view-cod-schedule-content > .view-content .session {
  background-color: white;
  border: 1px solid #6a7076;
  margin-bottom: 2%;
  padding: 1em;
  text-align: center;
  width: 100%;
  clear: both;
  float: left;
  position: relative; }
.page-node-schedule .view-cod-schedule-content > .view-content .session {
  clear: none;
  float: none;
  overflow: auto;
  padding: 1em 1em 5em 1em;
  width: 100%; }
.page-node-schedule .view-cod-schedule-content > .view-content .views-row.session {
  background-size: cover;
  background-position: right 40px bottom; }
.page-node-schedule .view-cod-schedule-content > .view-content .views-field-name, .page-node-schedule .view-cod-schedule-content > .view-content .views-field-field-speakers, .page-node-schedule .view-cod-schedule-content > .view-content .views-field-ops {
  background-image: none;
  clear: both;
  float: none;
  height: auto;
  line-height: 1.25;
  padding: 0; }
.page-node-schedule .view-cod-schedule-content > .view-content .views-field-title {
  line-height: 1.25; }
.page-node-schedule .view-cod-schedule-content > .view-content .views-field-ops {
  margin: 1em 0 0 0; }

.view-cod-session-sessions table {
  max-width: none;
  width: 100%; }

.view-display-id-track_session_filter li {
  display: inline-block;
  float: left;
  margin-right: 20px;
  margin-bottom: 5px; }
.view-display-id-track_session_filter .views-field-session-track-link a {
  display: inline-block;
  border: solid 1px #CCC;
  color: #0077C0;
  font-size: 0.9em;
  padding: 15px;
  transition: background-color 0.2 ease-in-out;
  white-space: nowrap; }
.view-display-id-track_session_filter .business-community .views-field-session-track-link a {
  color: #F95E56; }
.view-display-id-track_session_filter .design-theme-ux .views-field-session-track-link a {
  color: #9013FE; }
.view-display-id-track_session_filter .devops-performance .views-field-session-track-link a {
  color: #F5A623; }

.view-display-id-track_session_summary h2 {
  font-size: 1.8em;
  margin-top: 1.5em;
  margin-bottom: 0.5em; }
@media (min-width: 770px) {
  .view-display-id-track_session_summary .views-field-view .view-content {
    display: flex;
    flex-wrap: wrap; }
    .view-display-id-track_session_summary .views-field-view .view-content > div {
      flex: 0 0 30%;
      margin-right: 20px; } }

.view-display-id-panel_sessions_by_track h2 {
  font-size: 1.8em;
  margin-top: 1.5em;
  margin-bottom: 0.5em; }
@media (min-width: 770px) {
  .view-display-id-panel_sessions_by_track .view-content {
    display: flex;
    flex-wrap: wrap; }
    .view-display-id-panel_sessions_by_track .view-content > div {
      flex: 0 0 30%;
      margin-right: 20px; } }

.page-node-sponsors .l-main-wrapper h2 {
  text-align: center;
  margin: 0;
  padding: 0.83em 0; }
.page-node-sponsors .level-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em 0; }

.page-node-13 #tracks {
  padding-left: 0;
  text-align: center; }
  .page-node-13 #tracks li {
    display: inline-table;
    list-style-type: none;
    list-style-image: none;
    margin: 0 1% 1% 0; }
    .page-node-13 #tracks li a {
      display: block;
      font-size: 1em;
      line-height: 1;
      padding: 1em;
      text-align: center;
      -moz-border-radius: 3.5em;
      -webkit-border-radius: 3.5em;
      -o-border-radius: 3.5em;
      -ms-border-radius: 3.5em;
      -khtml-border-radius: 3.5em;
      border-radius: 3.5em; }
      .page-node-13 #tracks li a:hover, .page-node-13 #tracks li a.clicked {
        text-decoration: none; }
      .page-node-13 #tracks li a:before {
        content: "";
        display: block;
        height: 5em;
        width: 5em;
        margin: 1em auto;
        -moz-border-radius: 5em;
        -webkit-border-radius: 5em;
        -o-border-radius: 5em;
        -ms-border-radius: 5em;
        -khtml-border-radius: 5em;
        border-radius: 5em; }
.page-node-13 .track-content div {
  background-color: #a2a2a2;
  border: 2px solid #6a7076;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 4.5em;
  padding: 2em; }
  .page-node-13 .track-content div:first-child {
    margin-top: 5em; }
  .page-node-13 .track-content div:before {
    content: "";
    display: block;
    height: 5em;
    width: 5em;
    margin: -4.5em auto 0 auto;
    -moz-border-radius: 5em;
    -webkit-border-radius: 5em;
    -o-border-radius: 5em;
    -ms-border-radius: 5em;
    -khtml-border-radius: 5em;
    border-radius: 5em; }

.page-node-training .l-content .title-region {
  max-width: none;
  padding: 7.25em 0px 1em 1em;
  margin-top: -4.25em;
  text-align: center;
  z-index: -1; }
  .page-node-training .l-content .title-region h1.page-title {
    padding: 0px; }
    .page-node-training .l-content .title-region h1.page-title a {
      color: #6a7076; }
.page-node-training .l-content .pane-drupalcon-trainings-panel-pane-2 h2 {
  display: inline-block;
  margin: 1em 0;
  padding-left: 50px;
  padding-right: 50px; }
.page-node-training .l-content .view-content {
  text-align: center; }
  .page-node-training .l-content .view-content > h3 {
    display: inline-block;
    margin: 1em 0;
    padding-left: 50px;
    padding-right: 50px; }
  .page-node-training .l-content .view-content .views-row {
    background-color: #FFF;
    border: 1px solid #303030;
    overflow: auto;
    margin-bottom: 1em;
    padding: 2em;
    text-align: left; }
    .page-node-training .l-content .view-content .views-row h3 {
      margin-top: 0; }

.pane--front-cta .pane-title {
  margin-bottom: 25px;
  padding-left: 72px;
  font-size: 1.8em;
  line-height: 1.3em;
  text-transform: uppercase;
  text-indent: -72px; }
  .pane--front-cta .pane-title:before {
    content: '';
    display: inline-block;
    width: 52px;
    height: 48px;
    background-image: url("../images/cascadia-icon-sprite.png");
    background-position: left -500px;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-top: -4px;
    vertical-align: middle; }

.pane--front-intro {
  font-size: 1.65em;
  line-height: 1.45em; }

/* Schedule */
.view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen {
  background: none; }
  .view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen li, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen li, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen li {
    background: #303030;
    border-radius: 6px;
    margin-bottom: 20px; }
    .view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active {
      background: #6a7076; }
      .view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active a, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active a, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active a {
        background: none;
        color: #FFF;
        padding-bottom: 4px; }
    .view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen li a, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen li a, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen li a {
      background: none;
      color: #FFF;
      padding-bottom: 4px; }
.view-cod-session-schedule .views-field-field-slot-datetime-1, .view-cod-session-schedule .views-field-field-evttime-date-1, .view-cod-bof-schedule .views-field-field-slot-datetime-1, .view-cod-bof-schedule .views-field-field-evttime-date-1, .view-cod-schedule .views-field-field-slot-datetime-1, .view-cod-schedule .views-field-field-evttime-date-1 {
  background: #0077C0;
  clear: both;
  color: #FFF;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 6px; }
.view-cod-session-schedule .views-row, .view-cod-bof-schedule .views-row, .view-cod-schedule .views-row {
  border-bottom: 1px solid #CCCCCC;
  clear: both;
  float: left;
  padding-bottom: 20px;
  padding-top: 24px;
  width: 100%; }
  .view-cod-session-schedule .views-row.views-row-last, .view-cod-bof-schedule .views-row.views-row-last, .view-cod-schedule .views-row.views-row-last {
    border-bottom: none; }
.view-cod-session-schedule .views-field-field-experience, .view-cod-bof-schedule .views-field-field-experience, .view-cod-schedule .views-field-field-experience {
  float: right; }
.view-cod-session-schedule .views-field-title, .view-cod-bof-schedule .views-field-title, .view-cod-schedule .views-field-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px; }
  .view-cod-session-schedule .views-field-title a, .view-cod-bof-schedule .views-field-title a, .view-cod-schedule .views-field-title a {
    text-decoration: none; }
.view-cod-session-schedule .views-field-room, .view-cod-session-schedule .views-field-name, .view-cod-session-schedule .views-field-field-speakers, .view-cod-session-schedule .views-field-field-session-track, .view-cod-bof-schedule .views-field-room, .view-cod-bof-schedule .views-field-name, .view-cod-bof-schedule .views-field-field-speakers, .view-cod-bof-schedule .views-field-field-session-track, .view-cod-schedule .views-field-room, .view-cod-schedule .views-field-name, .view-cod-schedule .views-field-field-speakers, .view-cod-schedule .views-field-field-session-track {
  float: left;
  height: 28px;
  margin: 0 20px 10px 0;
  padding-top: 4px;
  padding-left: 30px; }
.view-cod-session-schedule .views-field-room, .view-cod-session-schedule .views-field-name, .view-cod-bof-schedule .views-field-room, .view-cod-bof-schedule .views-field-name, .view-cod-schedule .views-field-room, .view-cod-schedule .views-field-name {
  background: url(../images/location.png) transparent center left no-repeat; }
.view-cod-session-schedule .views-field-field-speakers, .view-cod-bof-schedule .views-field-field-speakers, .view-cod-schedule .views-field-field-speakers {
  background: url(../images/speaker.png) transparent center left no-repeat; }
.view-cod-session-schedule .views-field-field-session-track, .view-cod-bof-schedule .views-field-field-session-track, .view-cod-schedule .views-field-field-session-track {
  background: url(../images/track.png) transparent center left no-repeat; }

.node-type-session .session__speakers,
.node-type-session .pane-node-og-vocabulary,
.node-type-session .pane-node-field-experience {
  color: #00874b; }
  .node-type-session .session__speakers .field__label,
  .node-type-session .pane-node-og-vocabulary .field__label,
  .node-type-session .pane-node-field-experience .field__label {
    display: block;
    margin-bottom: 1px;
    color: #000;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.85em;
    font-weight: 600;
    text-transform: uppercase; }
  .node-type-session .session__speakers a,
  .node-type-session .pane-node-og-vocabulary a,
  .node-type-session .pane-node-field-experience a {
    color: #00874b; }
.node-type-session .flag-session-schedule a.flag {
  color: #00874b; }
  .node-type-session .flag-session-schedule a.flag:after {
    position: relative;
    top: 7px;
    left: 3px;
    content: '';
    display: inline-block;
    width: 30px;
    height: 27px;
    background-image: url("../images/cascadia-icon-sprite.png");
    background-position: left 0px;
    background-repeat: no-repeat; }
  .node-type-session .flag-session-schedule a.flag.unflag-action:after {
    background-position: left -50px; }

.session--teaser {
  border: solid 1px #CCC;
  padding: 15px;
  margin-bottom: 20px; }
  .session--teaser .session__track {
    display: inline-block;
    float: left;
    max-width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #888;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.8em;
    line-height: 29px;
    text-transform: uppercase; }
  .session--teaser .session__title {
    clear: both;
    min-height: 78px;
    margin-bottom: 0.5em;
    font-size: 1.2em; }
    .session--teaser .session__title a {
      color: #0077C0; }
  .session--teaser .session__title--code_develop a {
    color: #0077C0; }
  .session--teaser .session__title--devops_performance a {
    color: #F5A623; }
  .session--teaser .session__title--design_theme_ux a {
    color: #9013FE; }
  .session--teaser .session__title--business_community a {
    color: #F95E56; }
  .session--teaser .session__speakers {
    margin-bottom: 0.5em;
    font-size: 0.8em; }
  .session--teaser .session__experience {
    color: #CCC;
    font-size: 0.8em; }
    .session--teaser .session__experience:before {
      position: relative;
      top: 3px;
      content: '';
      display: inline-block;
      width: 20px;
      height: 18px;
      background-image: url("../images/cascadia-icon-sprite.png");
      background-position: left -100px;
      background-repeat: no-repeat; }
  .session--teaser .session__experience--intermediate:before {
    width: 42px; }
  .session--teaser .session__experience--advanced:before {
    width: 66px; }
  .session--teaser .session__attending-flag {
    display: inline-block;
    float: right;
    width: 30px;
    height: 27px; }
    .session--teaser .session__attending-flag a.flag {
      overflow: hidden;
      display: inline-block;
      width: 30px;
      height: 27px; }
      .session--teaser .session__attending-flag a.flag:before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 27px;
        background-image: url("../images/cascadia-icon-sprite.png");
        background-position: left 0px;
        background-repeat: no-repeat; }
      .session--teaser .session__attending-flag a.flag.unflag-action:before {
        background-position: left -50px; }

.view-cod-sponsors .level {
  clear: both; }
.view-cod-sponsors .sponsor {
  display: inline-block;
  padding: 20px;
  vertical-align: middle; }

.tabs--primary {
  padding-top: 1em; }

.tabs--primary, .tabs--secondary {
  border-bottom: solid 1px #CCC;
  margin-bottom: 1em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  text-transform: uppercase; }
  .tabs--primary li, .tabs--secondary li {
    float: left;
    margin-right: 30px;
    margin-bottom: -1px; }
  .tabs--primary a, .tabs--secondary a {
    background-color: transparent;
    border-bottom: 0px solid #CCC;
    padding: 5px 0;
    transition: border 0.2 ease-in-out; }
    .tabs--primary a:hover, .tabs--primary a:focus, .tabs--secondary a:hover, .tabs--secondary a:focus {
      border-width: 2px;
      background-color: transparent; }
    .tabs--primary a.active, .tabs--secondary a.active {
      background-color: transparent;
      border-width: 3px;
      border-color: #000; }

@media (min-width: 900px) {
  .arbutus .container-inner {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 900px) {
  .hemlock .container-inner {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto; }
  .hemlock .left-content,
  .hemlock .left-header {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .hemlock .right-content,
  .hemlock .right-header {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

.spruce .pane-node-title {
  padding: 0; }
  .spruce .pane-node-title h1 {
    margin-top: 0; }
@media (min-width: 900px) {
  .spruce .container-inner {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto; }
  .spruce .top-right-content,
  .spruce .bottom-right-content {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; }
  .spruce .left-content {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; } }

.text-light {
  color: #9A9A9A; }
  .text-light a {
    color: inherit; }

.text-large {
  font-size: 1.65em;
  line-height: 1.45em; }

.text-small {
  font-size: 0.85em; }
