.session--teaser {

  .session__title--php_and_symfony a {
    color: $blue;
  }

  .session__title--tools_and_techniques a {
    color: $yellow;
  }

  .session__title--being_human a {
    color: $purple;
  }

  .session__title--how_to a {
    color: $red;
  }

  .session__room {
    color: #888;
  }

  .session__experience {
    color: #888;
  }

}