<p><a href="#" class="button">Button</a></p>
<p><a href="#" class="button alt">Alternate Button</a></p>
<p><a href="#" class="button disabled">Disabled Button</a></p>
<p><a href="#" class="button text-btn">Text Button</a></p>
