//Temp Splash Setup
.page-node-651{
	.l-region--postscript, .w-navigation, .l-region--menu, .site--branding__name, .pane-cod-news-panel-pane-1, #page--title{
		display: none;
	}
	
	.seattle-hero{
		min-height: 300px;
		max-height: 800px;
		background: url(../images/backgrounds/seattle.jpg);
		background-size: auto 100%;
		background-position: right top;
		@include respond-to($medium){
			min-height: 460px;
		}
		h1{
			color: $white;
			text-align: center;
			font-size: 24px;
			@include respond-to($medium){
				float: right;
				width: 60%;
				padding-right: 1em;
				margin-top: 1em;
				font-size: 32px;
			}
			span{
				display: block;
				clear: both;
				&.title-bold{
					font-weight: bold;
				}
			}
		}
	}
	h2.pane-title{
		color: $MediumGreen2015;
		margin: 20px 0;
	}
	.right-triptych{
		h2.pane-title{
			padding-top: 100px;
			background: url(../images/icons/register.png) center top no-repeat;
		}
	}
	.left-triptych{
		h2.pane-title{
			padding-top: 100px;
			background: url(../images/icons/info.png) center top no-repeat;
		}
	}
	.middle-triptych{
		h2.pane-title{
			padding-top: 100px;
			background: url(../images/icons/news.png) center top no-repeat;
		}
	}
	
}