//Temp Splash Setup
.page-node-651{
	.l-region--postscript, .site--branding__name, #page--title{
		display: none;
	}
	.seattle-hero{
		min-height: 300px;
		max-height: 800px;
		background: url(../images/backgrounds/seattle.jpg);
		background-size: auto 100%;
		background-position: right top;
		@include respond-to($medium){
			min-height: 460px;
		}
		h1{
			color: $white;
			text-align: center;
			font-size: 24px;
			@include respond-to($medium){
				float: right;
				width: 60%;
				padding-right: 1em;
				margin-top: 1em;
				font-size: 32px;
			}
			span{
				display: block;
				clear: both;
				&.title-bold{
					font-weight: bold;
				}
			}
		}
		a.button{
			&:hover{
				color: $white;
				background: $MediumGreen2015;
			}
		}
	}
	.panel-pane{
		padding: 1em;
		font-size: 1em;
		.node__content p{
			font-size: 1em !important;
		}
	}
	h2.pane-title{
		color: $MediumGreen2015;
		margin: 20px 0;
		text-align: center;
	}
	.right-triptych{
		h2.pane-title{
			padding-top: 100px;
			background: url(../images/icons/register.png) center top no-repeat;
		}
		.form-submit{
			margin-top: 0px;
		}
	}
	.left-triptych{
		h2.pane-title{
			padding-top: 100px;
			background: url(../images/icons/info.png) center top no-repeat;
		}
	}
	.middle-triptych{
		h2.pane-title{
			padding-top: 100px;
			background: url(../images/icons/news.png) center top no-repeat;
		}
		.views-row{
			h2{
				font-size: 20px;
				margin-bottom: 5px;
				a{
					color: $MediumGreen2015;
					&:hover{
						color:$MediumBlue2015;
					}
				}
			}
			.field--name-body{
				padding: 0px;
			}
		}
	}
	
	.pane-cod-sponsors-cod-sponsors-main-view-pane{
		text-align: center;
		h3{
			color: $white;
			background: $MediumBlue2015;
			padding: 10px;
			font-size: 2em;
		}
		.Baker{
			max-width: 160px;
		}
		.Adams{
			max-width: 100px;
		}
	}
	
}