/* Features page */

#about-features h3 {
  font: bold 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
#about-features h3 a {
  display: block;
  padding: 4px 0 0 70px;
  min-height: 50px;
}
