#block-mainnavigation ul.menu {
  text-transform: uppercase;
}

#block-mainnavigation ul.menu li {
  font-size: 0.9rem;
  margin: 0 1rem 0 0;
}

#block-mainnavigation ul.menu li a {
  color: white;
  text-decoration: none;
}

header {
  ul.menu {
    text-transform: uppercase;
  }

  ul.menu li {
    font-size: 0.9rem;
    margin: 0 1rem 0 0;
  }

  ul.menu li a {
    color: white;
    text-decoration: none;
  }
}
