/*******************************************************************************
 * cascadia.layout.scss
 *
 * Styles for the Cascadia layout.
 ******************************************************************************/
.l-constrained {
  margin: 0 auto;
  width: 94%; }

/* Content Area */
.l-highlighted-wrapper {
  padding: 25px 0; }

.l-region--help {
  margin-bottom: 25px; }

/* Sidebars */
.l-region--sidebar .block {
  padding: 25px 1em;
  margin-bottom: 4px; }

/* Footer */
.l-footer-wrapper {
  padding: 3em 0; }

/* Sidebars */
.l-content {
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }

.has-no-sidebars .l-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

.l-region--sidebar {
  width: 32.20339%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: right; }

/* Sidebars */
.l-content {
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }

.has-no-sidebars .l-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

.l-region--sidebar {
  width: 32.20339%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: none; }

/* Sidebars */
.l-content {
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }

.has-no-sidebars .l-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

.l-region--sidebar {
  width: 32.20339%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: none; }

.l-content, .has-no-sidebars .l-content {
  float: none;
  margin: 0 auto; }
