body {
  margin: 0;
  padding: 0;
}

[data-theme="seattle2020"] {
  body {
    color: var(--color-text);
    background-color: var(--color-white, #fffffe);
  }

  #layout-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .navigation {
      position: sticky;
      z-index: 100;
      top: 0;
      width: 100%;
      background-color: var(--color-grayish-green, #e8eae3);
      min-height: 4.6rem;

      .inner {
        @extend %content-container;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    .region-header {
      display: block;
      border-top: 0.5rem solid var(--color-grayish-green, #e8eae3);
      flex: none;
      margin: 0;
      // padding-top: 4.6rem;
    }

    main {
      flex: 1;
    }

    footer > .inner,
    .layout-content {
      @extend %content-container;
    }

    footer {
      padding-top: $space * 2;
      margin-top: $space * 2;
      background-color: var(--color-grayish-green, #e8eae3);
      font-size: 0.9rem;
    }

    // @media only screen and (min-width: $bp-med) {
    //   .navigation {
    //     .inner {
    //       display: flex;
    //       justify-content: flex-end;
    //       align-items: center;
    //     }
    //   }
    // }
  }
}
