body {
  margin: 0;
  padding: 0;
}

[data-theme="seattle2020"] {
  body {
    color: var(--color-text);
    background-color: var(--color-white, #fffffe);
  }

  #layout-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    > header {
      background-color: var(--color-grayish-green, #e8eae3);
    }

    .navigation {
      position: sticky;
      // Higher than toolbar-bar
      z-index: 503;
      top: 0;
      width: 100%;
      background-image: linear-gradient(
        to top,
        rgba(#e8eae3, 0) 5%,
        rgba(#e8eae3, 0.4) 8%,
        rgba(#e8eae3, 0.9) 12%,
        #e8eae3
      );

      min-height: 4rem;

      .inner {
        @extend %content-container;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    .region-header {
      margin: 0;
    }

    main {
      flex: 1;
    }

    footer > .inner,
    .layout-content {
      @extend %content-container;
    }

    footer {
      padding-top: $space * 2;
      margin-top: $space * 2;
      background-color: var(--color-grayish-green, #e8eae3);
      font-size: 0.9rem;
    }
  }
}
