.messages {
  border: 0.2rem solid var(--color-primary-green);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;

  div[role="alert"],
  .alert {
    color: var(--color-error);
  }
}
