.speaker {
  padding: 0.5rem;
  display: flex;

  > .col:last-child {
    width: 75%;
    padding-left: $space;
  }

  &__name {
    margin-top: 0;
  }

  &__title {
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__company {
    font-size: 0.9em;
    margin-top: 0;
  }
}

ul.speakers {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: $space;
  }
}

article.profile,
.speaker {
  display: flex;
  flex-wrap: wrap;

  @media only screen and (min-width: $bp-med) {
    > .col:first-child {
      flex: 0 1 25%;
    }

    > .col:last-child {
      flex: 0 1 70%;
    }
  }
}

.field-item.field--user-picture {
  padding-right: $space;
  img {
    width: 100%;
    height: auto;
  }
}
