div[id$="primary-local-tasks"] {
  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin: 0;
    padding: 0.5rem;
    list-style: none;

    a {
      &.is-active {
        font-weight: 600;
        border-bottom: 1px solid var(--color-border);
      }
    }
  }
}

[data-theme="seattle2020"] {
  div[id$="add-more-wrapper"] {
    border: 1px solid var(--color-border);
    background: var(--color-information-bg);
    // border-radius: 5px;
    padding: 5px;

    margin-bottom: $space;

    > .form-item {
      margin: 0;
    }

    button.tabledrag-toggle-weight {
      font-size: 0.8em;
    }

    > div > .description {
      margin-bottom: $space;
    }
  }

  // .field--widget-entity-reference-autocomplete.form-wrapper {
  //   border: 2px solid var(--color-border);
  //   background: var(--color-information-bg);
  //   border-radius: 5px;
  //   padding: 5px;
  // }

  // #field-additional-authors-add-more-wrapper {
  //   > .form-item {
  //     margin: 0;
  //   }
  // }

  table.field-multiple-table.responsive-enabled {
    border: none;
    width: auto;

    th {
      border: none;
      font-size: 1rem;
      text-transform: uppercase;

      h4 {
        color: var(--color-text);
        font-size: 1rem;
      }
    }
    td {
      border: none;
    }

    input {
      max-width: 98% !important;
    }
  }

  .form-item {
    &.js-form-type-textarea {
      margin-bottom: 0;
    }
  }
}

.system {
  > .region {
    @extend %content-container;
  }
}
