@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
:root {
  --color-light-green: #83bba3;
  --color-primary-green: #06864c;
  --color-dark-green: #057642;
  --color-darkest-green: #03593a;
  --color-primary-blue: #2c60a2;
  --color-dark-blue: #005297;
  --color-drupal-blue: #0678be;
  --color-drupal-blue2: #064771;
  --color-drupal-green: #7cbc48;
  --color-drupal-green2: #367d02;
  --color-error: #c10016;
  --color-valid: #06864c;
  --color-warning: #ffcf43;
  --color-information: #064771;
  --color-information-bg: #e8eae3;
  --color-attention-accent: #7cbc48;
  --color-attention-accent2: #b43a1a;
  --color-attention-text: #afeadc;
  --color-attention-bg: #041e42;
  --color-text: #101820;
  --color-highlight: #b43a1a;
  --color-bg: #e2e1dd;
  --color-border: #5f5f60;
  --color-dim: rgba(0, 0, 0, 0.8);
}

/**
 * @sass-export-section="Typography"
 */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
h3, h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: var(--base-line-height);
}

.field-container.js-form-type-checkbox > label,
.form-item.js-form-type-checkbox > label, .field-container > label,
.form-item > label, form:not(#views-exposed-form-schedule-page) .fieldgroup legend,
form:not(#views-exposed-form-schedule-page) fieldset legend, h2,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--base-line-height);
}

input:not([type=submit]),
textarea,
keygen,
select,
button, h5,
h6, body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: var(--base-line-height);
  letter-spacing: 0.03em;
}

:root {
  --base-text-size: calc(0.65em + 1vmin);
  --base-line-height: 1.6;
  --font-heading: "Roboto", sans-serif;
}

[data-theme=seattle2020] #layout-container footer > .inner,
[data-theme=seattle2020] #layout-container .layout-content, [data-theme=seattle2020] #layout-container .navigation .inner {
  width: 100%;
  max-width: 72em;
  margin: 0 auto;
  padding: 0;
}

/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback
	Usage: @include font-size(1, large);
*/
.cf {
  *zoom: 1;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Floats */
.right {
  float: right;
  padding: 0 0 1em 1em;
}

.right-search {
  float: right;
  padding: 0 0 1em 0;
}

.left {
  float: left;
  padding: 0 1em 1em 0;
}

/* Text-Align */
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

/* Display Classes */
@media all and (max-width: 46.8em) {
  .hide-small {
    display: none;
  }
}

@media all and (min-width: 46.8em) and (max-width: 50em) {
  .hide-med {
    display: none;
  }
}

@media all and (min-width: 50em) {
  .hide-large {
    display: none;
  }
}

.valid {
  color: var(--color-valid);
}

.error {
  color: var(--color--error);
}

.warning {
  color: var(--color-warning);
}

.information {
  color: var(--color-information);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.animate-fade {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.animate-fade:hover {
  opacity: 0;
}

.animate-move > .demo-shape {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

body {
  color: var(--color-text);
}

h1 {
  color: var(--color-text);
  line-height: 1.2;
}

h3 {
  color: var(--color-primary-green);
  line-height: 1.2;
}

h2,
h4 {
  color: var(--color-drupal-green2);
  line-height: 1.2;
}

h5,
h6 {
  color: var(--color-drupal-green2);
  font-weight: 700;
  line-height: 1.2;
}

.dialog-off-canvas-main-canvas a,
.dialog-off-canvas-main-canvas a:hover,
.dialog-off-canvas-main-canvas a:focus,
.dialog-off-canvas-main-canvas a:active,
.dialog-off-canvas-main-canvas a:visited {
  color: #2c60a2;
  text-decoration: none;
}

p.intro, p.larger {
  font-size: 1.25rem;
}
p.center {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

[data-theme=seattle2020] body {
  color: var(--color-text);
  background-color: var(--color-white, #fffffe);
}
[data-theme=seattle2020] #layout-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
[data-theme=seattle2020] #layout-container .navigation {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: var(--color-grayish-green, #e8eae3);
  min-height: 4.6rem;
}
[data-theme=seattle2020] #layout-container .navigation .inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
[data-theme=seattle2020] #layout-container .region-header {
  display: block;
  border-top: 0.5rem solid var(--color-grayish-green, #e8eae3);
  flex: none;
  margin: 0;
}
[data-theme=seattle2020] #layout-container main {
  flex: 1;
}
[data-theme=seattle2020] #layout-container footer {
  padding-top: 2em;
  margin-top: 2em;
  background-color: var(--color-grayish-green, #e8eae3);
  font-size: 0.9rem;
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol,
form ul {
  list-style: none;
  margin-left: 0;
}

form:not(#views-exposed-form-schedule-page) .fieldgroup,
form:not(#views-exposed-form-schedule-page) fieldset {
  border: 2px solid var(--color-border);
  background: var(--color-information-bg);
  border-radius: 5px;
  padding: 1rem;
}
form:not(#views-exposed-form-schedule-page) .fieldgroup legend,
form:not(#views-exposed-form-schedule-page) fieldset legend {
  text-transform: uppercase;
  background: var(--color-border);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 5px var(--color-information-bg);
  margin-left: 1.25rem;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0 1px 0;
}

input,
textarea {
  width: auto;
  max-width: 98%;
  border: 1px solid var(--color-border);
}

input[type=submit],
#edit-submit,
#edit-preview {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-primary-blue);
  color: white;
}

input[type=file] + input[type=submit] {
  height: inherit;
  margin: 0;
}

input[type=checkbox],
input[type=radio] {
  width: auto;
  margin-right: 0.3em;
}

input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.field-container {
  margin-bottom: 1em;
}

.inline-form fieldset,
.inline-form .inline-container {
  position: relative;
}
.inline-form input[type=submit],
.inline-form button,
.inline-form .btn {
  padding: 0.65rem 1.3rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
}
.inline-form input[type=submit]:hover, .inline-form input[type=submit]:focus,
.inline-form button:hover,
.inline-form button:focus,
.inline-form .btn:hover,
.inline-form .btn:focus {
  background: var(--color-bg);
  color: white;
}

/* Validation */
.has-error {
  border-color: var(--color-error);
}

.is-valid {
  border-color: var(--color-valid);
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
/* Search Form */
.search-field {
  padding-right: 3em;
}

.inline-form .search-submit {
  background: none;
  padding: 0.78em 1em;
  border: 0;
  border-left: 1px solid gray;
  color: gray;
}

.field-container,
.form-item {
  margin: 1rem 0;
  position: relative;
}
.field-container > label,
.form-item > label {
  text-transform: uppercase;
  display: block;
  margin-bottom: 0;
}
.field-container > label + input,
.form-item > label + input {
  margin-top: 0;
}
.field-container .description,
.form-item .description {
  font-size: 0.9em;
  font-style: italic;
}
.field-container.js-form-type-checkbox,
.form-item.js-form-type-checkbox {
  padding-right: 1rem;
}
.field-container.js-form-type-checkbox > label,
.form-item.js-form-type-checkbox > label {
  text-transform: none;
  display: inline-block;
}

input:not([type=submit]),
textarea,
keygen,
select,
button,
textarea {
  padding: 1rem 1.2rem;
  margin: 0.5em 0;
  font-size: 1rem;
}

.region-primary-menu {
  align-items: center;
  background-color: transparent !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0.75rem;
}

nav[id$=mainnavigation],
nav[id$=useraccountmenu] {
  text-transform: uppercase;
}
nav[id$=mainnavigation] .nav-list,
nav[id$=mainnavigation] ul.menu,
nav[id$=useraccountmenu] .nav-list,
nav[id$=useraccountmenu] ul.menu {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}
nav[id$=mainnavigation] ul.menu li,
nav[id$=useraccountmenu] ul.menu li {
  font-size: 0.9rem;
  margin: 0 1rem 0 0;
}
nav[id$=mainnavigation] ul.menu li a,
nav[id$=useraccountmenu] ul.menu li a {
  text-decoration: none;
  font-weight: 600;
  display: block;
  padding: 0.5rem;
}

.region-primary-menu,
nav[id$=mainnavigation] {
  text-transform: uppercase;
}
.region-primary-menu ul.menu li a,
nav[id$=mainnavigation] ul.menu li a {
  color: var(--color-primary-blue);
}

.region-secondary-menu ul.menu li a,
nav[id$=useraccountmenu] ul.menu li a {
  color: var(--color-drupal-blue);
}

.region-footer .nav-list,
.region-footer ul.menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.region-footer ul.menu li a {
  color: var(--color-drupal-blue);
  text-decoration: none;
  display: block;
}

.messages {
  border: 0.2rem solid var(--color-primary-green);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.session__date {
  color: var(--color-border);
  font-size: 1.25rem;
  line-height: 0.9rem;
  margin-bottom: 0;
  font-family: var(--font-heading);
}
.session__meta {
  border-top: 2px solid var(--color-border);
  padding-top: 1rem;
  width: 100%;
}
.session__meta ul,
.session__meta ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.session__meta li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  padding: 0 0.5em 0 0;
}
.session__time {
  font-weight: 700;
  color: var(--color-highlight);
}
.session__topics {
  font-size: 1rem;
}
@media only screen and (min-width: 46.8em) {
  .session__meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .session__meta > div {
    flex: 1 1 32%;
  }
  .session__body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
  }
  .session__body .session__description {
    flex: 1 1 75%;
    flex-basis: 75%;
    padding-right: 1em;
  }
}
.session.full .session__body {
  margin-top: 2em;
  flex-wrap: wrap;
}
.session.full .session__body .session__description {
  flex: 1 1 60%;
}
.session.full .session__body .session__speakers {
  flex: 0 1 32%;
}
.session.full .session__speakers h2 {
  border-bottom: 2px solid var(--color-border);
  color: var(--color-border);
  font-size: 1.25rem;
  line-height: 0.9rem;
  margin-bottom: 0;
  font-family: var(--font-heading);
  font-weight: 400;
}
.session.full .session__speakers ul.speakers li {
  width: 45%;
}

.speaker {
  padding: 0.5rem;
  display: flex;
}
.speaker > .col:last-child {
  width: 75%;
  padding-left: 1em;
}
.speaker__name {
  margin-top: 0;
}
.speaker__title {
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0;
}
.speaker__company {
  font-size: 0.9em;
  margin-top: 0;
}

ul.speakers {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
ul.speakers li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.session__speakers .speaker {
  display: block;
}
.session__speakers .speaker > .col:last-child {
  width: 100%;
  padding-left: 0;
}
.session__speakers .speaker__name {
  margin-top: 0.5rem;
}

@media only screen and (min-width: 46.8em) {
  ul.speakers li {
    margin-bottom: 2em;
    width: 32%;
    max-width: 100%;
  }
}
img {
  display: block;
  max-width: 100%;
}

.cta {
  padding: 1em;
  background-color: var(--color-attention-bg);
  color: var(--color-attention-text);
}
.cta a {
  color: white;
  text-decoration: none;
}
.cta__title {
  color: var(--color-attention-accent);
}

.banner .text-top {
  z-index: 500;
}
.banner .text-top h1 {
  display: block;
  width: auto;
  color: var(--color-white, white);
}
.banner .text-top h1 img {
  display: inline-block;
  filter: drop-shadow(0 1px 3px rgba(16, 24, 32, 0.5));
}
.banner .text-top h1 span {
  display: inline-block;
  position: relative;
  margin-left: 3px;
  bottom: 1vh;
  text-shadow: 0 2px 2px rgba(16, 24, 32, 0.5);
}
.banner .text-bottom {
  padding-top: 1em;
  max-width: 100%;
}
.banner .text-bottom h2,
.banner .text-bottom h3 {
  display: block;
  word-wrap: break-word;
}
.banner .button {
  background-color: var(--color-attention-accent2);
  margin: 0 auto;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.banner .button:hover {
  background-color: var(--color-attention-accent);
  color: var(--color-attention-bg);
}

.banner.image,
.banner.video {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  max-width: 72em;
  margin: 0 auto;
}
.banner.image h1,
.banner.image h2,
.banner.video h1,
.banner.video h2 {
  margin: 0;
}
.banner.image .bg,
.banner.image .video,
.banner.video .bg,
.banner.video .video {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100px;
  position: relative;
}
.banner.image .bg img,
.banner.video .bg img {
  display: block;
  object-fit: cover;
  width: 100%;
}
.banner.image .video .bgvid,
.banner.video .video .bgvid {
  display: none;
}
.banner.image .video .videosubstitute,
.banner.video .video .videosubstitute {
  display: block;
  width: 100%;
  object-fit: cover;
}
.banner.image .text-top,
.banner.video .text-top {
  text-align: center;
  position: relative;
}
.banner.image .text-top.fade-in,
.banner.video .text-top.fade-in {
  animation-delay: 2s;
}
.banner.image .text-top h1,
.banner.video .text-top h1 {
  font-size: 48px;
}
.banner.image .text-bottom,
.banner.video .text-bottom {
  width: 100%;
  text-align: center;
  background-color: var(--color-attention-bg);
  color: var(--color-attention-text);
  padding-bottom: 1em;
}
.banner.image .text-bottom.fade-in,
.banner.video .text-bottom.fade-in {
  animation-delay: 1s;
}
.banner.image .text-bottom h2,
.banner.video .text-bottom h2 {
  color: white;
}
.banner.image .text-bottom h3,
.banner.video .text-bottom h3 {
  color: var(--color-attention-accent);
}
@media only screen and (min-width: 46.8em) {
  .banner.image .video .bgvid,
.banner.video .video .bgvid {
    display: block;
    width: 100%;
  }
  .banner.image .video .videosubstitute,
.banner.video .video .videosubstitute {
    display: none;
  }
  .banner.image .text-top,
.banner.video .text-top {
    position: absolute;
    top: -1vh;
    left: 50%;
    transform: translate(-50%, -0.35em);
  }
  .banner.image .text-top h1,
.banner.video .text-top h1 {
    font-size: 72px;
  }
  .banner.image .text-bottom,
.banner.video .text-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .banner.image .text-bottom h2,
.banner.video .text-bottom h2 {
    color: white;
  }
  .banner.image .text-bottom h3,
.banner.video .text-bottom h3 {
    color: var(--color-attention-accent);
  }
  .banner.image .text-bottom.fade-in,
.banner.video .text-bottom.fade-in {
    animation-delay: 0.7s;
  }
}

.banner.text .row1 {
  background-color: var(--color-attention-text);
}
.banner.text .row2 {
  background-color: var(--color-attention-bg);
}
.banner.text h1,
.banner.text h2 {
  margin: 0;
}
.banner.text .text-top {
  text-align: center;
  position: relative;
  top: -1vh;
}
.banner.text .text-top img {
  display: inline-block;
}
.banner.text .text-top h1 {
  font-size: 48px;
  top: -1vh;
}
.banner.text .skyline {
  align-self: flex-end;
}
.banner.text .skyline img {
  position: relative;
  bottom: -1vh;
  margin-left: auto;
  margin-right: auto;
}
.banner.text .text-bottom {
  flex: 1;
  text-align: center;
  padding: 1em auto;
  max-width: 100%;
  padding-bottom: 1em;
  background-color: var(--color-attention-bg);
  color: var(--color-attention-text);
}
.banner.text .text-bottom.fade-in {
  animation-delay: 0.7s;
}
.banner.text .text-bottom h2 {
  color: white;
}
.banner.text .text-bottom h3 {
  color: var(--color-attention-accent);
}
@media only screen and (min-width: 46.8em) {
  .banner.text .row2 .inner .text-bottom {
    margin-left: auto;
    max-width: 50%;
  }
  .banner.text .inner {
    max-width: 72em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .banner.text .inner > div {
    flex: 1 1 50%;
  }
  .banner.text .text-top h1 {
    font-size: 72px;
  }
}

* {
  box-sizing: border-box;
}

/*# sourceMappingURL=pl-seattle2020.css.map */
