<form>
<div class="field--type-name field--name-field-name field--widget-name-default js-form-wrapper form-wrapper" data-drupal-selector="edit-field-name-wrapper" id="edit-field-name-wrapper">
      <div class="js-form-item form-item js-form-type-name form-item-field-name-0 js-form-item-field-name-0">
      <label for="edit-field-name-0">Name</label>
        <div class="form--inline clearfix name-widget-wrapper"><div class="name-component-wrapper name-given-wrapper"><div class="js-form-item form-item js-form-type-textfield form-item-field-name-0-given js-form-item-field-name-0-given form-no-label">
      <label for="edit-field-name-0-given" class="visually-hidden">Given</label>
        <input class="name-element name-given name-core-component form-text" data-drupal-selector="edit-field-name-0-given" aria-describedby="edit-field-name-0-given--description" type="text" id="edit-field-name-0-given" name="field_name[0][given]" value="Elisa" size="20" maxlength="63">

            <div id="edit-field-name-0-given--description" class="description">
      <label for="edit-field-name-0-given">Given</label>
    </div>
  </div>
</div><div class="name-component-wrapper name-family-wrapper"><div class="js-form-item form-item js-form-type-textfield form-item-field-name-0-family js-form-item-field-name-0-family form-no-label">
      <label for="edit-field-name-0-family" class="visually-hidden">Family</label>
        <input class="name-element name-family name-core-component form-text" data-drupal-selector="edit-field-name-0-family" aria-describedby="edit-field-name-0-family--description" type="text" id="edit-field-name-0-family" name="field_name[0][family]" value="Chang" size="20" maxlength="63">

            <div id="edit-field-name-0-family--description" class="description">
      <label for="edit-field-name-0-family">Family</label>
    </div>
  </div>
</div></div>
        </div>

  </div>

  </form>
